html {
  font-size: 1.4vw;
  line-height: 1.3;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #080808;
}

body, h1, ul, p {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  text-decoration: none !important;
}
input {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
}
input[type="submit"] {
  cursor: pointer;
}
input::-webkit-input-placeholder {
  font-size: 0.85rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #ccc;
}
input:-ms-input-placeholder {
  font-size: 0.85rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #ccc;
}
input::-ms-input-placeholder {
  font-size: 0.85rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #ccc;
}
input::placeholder {
  font-size: 0.85rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #ccc;
}
.input-search {
   border-bottom: 0.5px solid white !important;
}

.o-button {
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1.125rem;
  background-color: #e50914;
}
.o-button--gray {
  background-color: #646464;
}
main {
  /*padding-bottom: 3em;*/
}
.c-title {
  font-weight: inherit;
  color: white;
}

.c-title__category {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: block;
}

.c-title__name {
  font-size: 26px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.absolute .flex {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  /*   border:solid 1px red; */
  width: 250px;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 40px;
}

.fa-star {
  color: red;
}

.flex h6:nth-of-type(1) {
  margin-left: 5px;
  margin-right: 10px;
  color: white;
}

.flex h6:nth-of-type(2) {
  background: grey;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 45px;
  padding: 2px;
}

.c-plot {
  margin-top: 20px;
  margin-bottom: 15px;
}

p {
  font-size: 14px;
  margin-top: 5px;
  color: #8c8c8c;
}
p span {
  color: white;
}

.l-header {
  font-size: 16px;
  padding: 0 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.l-header > * {
  margin-top: 10px;
  margin-bottom: -15px;
}

.l-header__logo {
  width: 250px;
}

.l-header__browse {
  color: #e50914;
  font-weight: bold;
  margin-right: auto;
  margin-left: 40px;
  padding-right: 40px;
}

.l-header__search {
  width: 20rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  margin-top: -8px;
  font-size: 0.8rem;
}

.l-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}
.l-header__nav > * + * {
  margin-left: 32px;
}

.l-hero {
  width: 100%;
  height: 500px;
  background: url("https://images-na.ssl-images-amazon.com/images/M/MV5BZDdmMDU2OWUtMzY2NS00YmIyLWJhMGEtYzlhY2M3MTkyYTdmXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SX1500_CR0,100,1500,500_AL_.jpg");
  background-size: cover;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.carousel-indicators {
  bottom: 5px;
}

.l-hero__text-wrapper {
  width: 40%;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(#0d0d0d), color-stop(#121212), to(transparent));
  background: linear-gradient(to right, black, #0d0d0d, #121212, transparent);
}

.l-hero__text {
  padding: 6rem 2.5rem 5rem;
}

.l-hero__subhl {
  font-weight: bold;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}

.l-hero__buttons {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}
.l-hero__buttons > * + * {
  margin-left: 0.75rem;
}

.l-cards {
  padding-left: 2.5rem;
}

.l-cards__title {
  font-size: inherit;
  color: white;
  font-size: 1.0rem;
  display: inline;
}

.l-cards__more {
  float: right;
  color: gray;
  font-size: 0.8rem;
  margin-right: 3.5%;
}

.l-cards__list {
  margin-top: 0.5rem;
  margin-bottom: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-cards__text {
  text-align: center;
  font-weight: bold;
}
.l-cards__text span {
  color: #e50914;
  display: block;
}

.l-cards__item {
  background-color: #646464;
  height: 8rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9rem;
          flex: 0 0 9rem;
  margin: 0 0.3rem;
  text-align: center;
}
.l-cards__item a {
  color: #999999;
  font-size: 0.7rem;
}
.l-cards__item img {
  height: 12.5rem;
}
.l-cards__item + .l-cards__item {
  margin-left: 0.25rem;
}

footer {
  clear: both;
  background-color: #121212;
  width: 100%;
}

.f-wrap {
  width: 80%;
  padding-top: 2rem;
  margin: 0 auto;
}

.f-column {
  overflow: hidden;
  float: left;
  width: 33%;
  line-height: 1.6em;
  font-size: 0.8rem;
  color: #b3b3b3;
}

.f-column a {
  display: block;
  color: #b3b3b3;
}

.legality {
  margin: auto;
  width: 30%;
  clear: both;
  padding: 2rem 0 2rem 0;
  font-size: 0.8rem;
  color: gray;
}

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}
.social-icons li a {
  display: inline;
}

.social-icons a {
  color: #fff;
}

.fa-facebook {
  padding: 10px 14px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-twitter {
  padding: 10px 12px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-twitter:hover {
  background-color: #00aced;
}

.fa-rss {
  padding: 10px 14px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-rss:hover {
  background-color: #eb8231;
}

.fa-youtube {
  padding: 10px 14px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-youtube:hover {
  background-color: #e64a41;
}

.fa-linkedin {
  padding: 10px 14px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-linkedin:hover {
  background-color: #0073a4;
}

.fa-google-plus {
  padding: 10px 9px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-google-plus:hover {
  background-color: #e25714;
}

a {
  color:white;
}