.body {
  background-color: #1a1a1a;
  margin-top: 1.5em;
 /* -moz-box-shadow: 0px 1px 5px 6px #1a1a1a;
  -webkit-box-shadow: 0px 1px 5px 6px #1a1a1a;
  box-shadow: 0px 1px 5px 6px #1a1a1a;*/
}
.s-explore {
  margin: 2em;
  width: 18em;
  padding: 1em;
  border: 1px solid gray;
}

.s-explore__item {
  color: #d9d9d9;
}
.s-explore__item a {
  color: #cccccc !important;
  font-size: 14px;
  text-transform: capitalize;
  padding: 0 0 3px 20px;
}
.s-explore__item a:hover {
  text-decoration: underline !important;
}
.s-explore__item span {
  float: right;
  font-size: 14px;
  color: #e50914;
}

.s-explore__title {
  color: white;
}
.s-explore__title h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 5px 0 5px 0;
}

.s-users-avatars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.7em;
}
.s-users-avatars a {
  color: #cccccc;
}

.s-users__item {
  display: flex;
  flex: 0 0 10%;
  text-align: center;
}
.s-users__item img {
  width: 50px;
}
.s-users__item span {
  margin: 0 auto;
  font-size: 0.7em;
  display: block;
}

.r_poster {
  vertical-align:middle; 
  text-align:center;
  height: 17em;
  background: url("https://images-na.ssl-images-amazon.com/images/M/MV5BZDdmMDU2OWUtMzY2NS00YmIyLWJhMGEtYzlhY2M3MTkyYTdmXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SX1500_CR0,100,1500,500_AL_.jpg");
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  background-size: 95%;
  background-repeat: no-repeat;
}

/*.r-watch div{
  float: right;
  display: block;
}*/
.l-cards {
  padding-left: 0;
}
.round-button {
  box-sizing: border-box;
  position:relative;
  display:inline-block;
  top: 28%;
  width:80px;
  height:80px;
  padding-top: 14px;
  padding-left: 8px;
  line-height: 20px;
  border: 6px solid #fff;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background-color: rgba(0,0,0,0.5);
  font-size:20px;
  font-weight:bold;
  transition: all 0.3s ease;
}
.round-button:hover {
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 0px 10px rgba(255,255,100,1);
  text-shadow: 0px 0px 10px rgba(255,255,100,1);
}
.right_panel{
  padding-top: 0.8em;
  margin-left:4em;
}
.l-hero__text {
  padding: 0;
}

.flex h6:nth-of-type(1) {
  background: grey;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 3.5em;
  padding: 2px;
}

.l-hero__text{
  padding-top: 3em;
  padding-bottom: 3em;
}

.l-cards__more{
  margin-right: -2%;
}

.l-cards1 img{
  width: 16em;
  height: 16em;
}

.l-cards2 img{
  width: 15em;
  height: 15em;
}

.l-cards3 img{
  width: 8.3em;
  height: 12em;
}

.l__object{
  width: 295px;
  height: 220px;
}

.l-cards4{
  margin-top: 2em;
}

/*.l-cards4 p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}*/

.l-cards3 li.l-cards__item{
  -ms-flex: 0 0 0rem;
          flex: 0 0 0rem;
  padding-right: 0.5em;
}

.l-cards3 h6{
  font-size: 1em;
  font-weight: 600;
}

.l-cards__item{
  background-color: #080808;
}

.l-cards__item a{
  display: inline-block;
}

a {
  color: white;
}