html {
  font-size: 1.4vw;
  line-height: 1.3;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #080808; }

body, h1, ul, p {
  margin: 0; }

ul {
  padding: 0; }

li {
  list-style-type: none; }

.o-button {
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1.125rem;
  background-color: #e50914; }
  .o-button--gray {
    background-color: #646464; }

.c-title {
  font-weight: inherit;
  color: white; }

.c-title__category {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: block; }

.c-title__name {
  font-size: 1.6rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.03em; }

.flex {
  font-size: 15px;
  display: flex;
  align-items: baseline;
  /*   border:solid 1px red; */
  width: 250px;
  padding-bottom: 0;
  margin-bottom: 0; }

.fa-star {
  color: red; }

.flex h6:nth-of-type(1) {
  margin-left: 5px;
  margin-right: 10px;
  color: white; }

.flex h6:nth-of-type(2) {
  background: grey;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 65px;
  padding: 2px; }

h6 {
  font-size: 15px; }

.c-plot {
  margin-bottom: 15px; }

p {
  font-size: 0.8rem;
  color: #8c8c8c; }
  p span {
    color: white; }

.l-header {
  font-size: 16px;
  padding: 0 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .l-header > * {
    margin-top: 10px;
    margin-bottom: -15px; }

.l-header__logo {
  width: 250px; }

.l-header__browse {
  color: #e50914;
  font-weight: bold;
  margin-right: auto;
  margin-left: 40px;
  padding-right: 40px; }

.l-header__search {
  width: 20rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  margin-top: -8px;
  font-size: 0.8rem; }

.l-header__nav {
  display: flex;
  color: white; }
  .l-header__nav > * + * {
    margin-left: 32px; }

.l-hero {
  width: 100%;
  height: 500px;
  background: url("https://images-na.ssl-images-amazon.com/images/M/MV5BZDdmMDU2OWUtMzY2NS00YmIyLWJhMGEtYzlhY2M3MTkyYTdmXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SX1500_CR0,100,1500,500_AL_.jpg");
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  position: relative; }

.carousel-indicators {
  bottom: 5px; }

.l-hero__text-wrapper {
  width: 40%;
  background: linear-gradient(to right, black, #0d0d0d, #121212, transparent); }

.l-hero__text {
  padding: 6rem 2.5rem 5rem; }

.l-hero__subhl {
  font-weight: bold;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem; }

.l-hero__buttons {
  margin-top: 1.5rem;
  display: flex;
  color: white; }
  .l-hero__buttons > * + * {
    margin-left: 0.75rem; }

.l-cards {
  padding-left: 2.5rem;
  margin-bottom: 2.3rem; }

.l-cards__title {
  font-size: inherit;
  color: white;
  font-size: 1.0rem;
  display: inline; }

.l-cards__more {
  float: right;
  color: gray;
  font-size: 0.8rem;
  margin-right: 6%; }

.l-cards__list {
  margin-top: 0.5rem;
  display: flex; }

.l-cards__text {
  text-align: center;
  font-weight: bold; }
  .l-cards__text span {
    color: #e50914; }

.l-cards__item {
  background-color: #646464;
  height: 9rem;
  flex: 0 0 16rem;
  text-align: center; }
  .l-cards__item a {
    color: #999999;
    font-size: 0.8rem;
    text-decoration: none; }
  .l-cards__item + .l-cards__item {
    margin-left: 0.25rem; }

.fill {
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%; }

footer {
  clear: both;
  background-color: #121212;
  width: 100%; }

.f-wrap {
  width: 80%;
  padding-top: 2rem;
  margin: 0 auto; }

.f-column {
  overflow: hidden;
  float: left;
  width: 33%;
  line-height: 1.6em;
  font-size: 0.8rem;
  color: #b3b3b3; }

.f-column a {
  display: block;
  color: #b3b3b3; }

.legality {
  margin: auto;
  width: 30%;
  clear: both;
  padding: 2rem 0 2rem 0;
  font-size: 0.8rem;
  color: gray; }

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px; }
  .social-icons li a {
    display: inline; }

.social-icons a {
  color: #fff; }

.fa-facebook {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30; }

.fa-facebook:hover {
  background-color: #3d5b99; }

.fa-twitter {
  padding: 10px 12px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30; }

.fa-twitter:hover {
  background-color: #00aced; }

.fa-rss {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30; }

.fa-rss:hover {
  background-color: #eb8231; }

.fa-youtube {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30; }

.fa-youtube:hover {
  background-color: #e64a41; }

.fa-linkedin {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30; }

.fa-linkedin:hover {
  background-color: #0073a4; }

.fa-google-plus {
  padding: 10px 9px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30; }

.fa-google-plus:hover {
  background-color: #e25714; }

.movie_result {
  margin-top: 8px; }

.image-wrap img {
  margin-left: 6rem;
  width: 150px; }

.film_name, .actor_name, .tv_name {
  font-size: 30px;
  color: white; }

.search_separator {
  margin-left: 5rem;
  color: white; }

input[type=text] {
  margin-top: 4px;
  background-color: black;
  color: white;
  height: 17px;
  border: 0;
  width: 240px;
  margin-left: 1px;
  box-shadow: -9px 10px 0px -8px #ebebeb, 9px 10px 0px -8px #ebebeb;
  -webkit-transition: box-shadow 0.5s linear 0.3s;
  transition: box-shadow 0.5s linear 0.3s; }

input[type=text]:focus {
  outline: none;
  box-shadow: -9px 10px 0px -8px #8DB9ED, 9px 10px 0px -8px #8DB9ED; }

.row {
  margin-top: 8px; }

.people_section_filters {
  margin-left: 10%;
  margin-top: 1.25rem; }
  .people_section_filters ul li {
    display: inline-block;
    margin-left: 5px; }
    .people_section_filters ul li a, .people_section_filters ul li u {
      color: gray;
      text-decoration: none; }
      .people_section_filters ul li a:hover, .people_section_filters ul li u:hover {
        color: white; }

#people_name, h3 {
  color: white;
  margin: 3% 0% 0% 10%; }

.website_logo {
  width: 100%;
  height: auto;
  vertical-align: top; }

/*# sourceMappingURL=people.css.map */
a {
  color: white;
}