
$color-red: rgb(229, 9, 20);
$color-gray: rgb(100, 100, 100);
$color-light-red: #e8716d;

@mixin cols ($width, $padding-left, $padding-right){
  width: $width;
  float:left;
  position: relative;
  min-height: 1px;
  padding-right: $padding-right;
  padding-left: $padding-left;
}

main{
  background-color: lighten(black, 7%);
  height: 100%;
  padding-top: 3%;
  padding-bottom: 4%;
}

.col-sidebar {
  @include cols(31%, 1px, 1px);
}
.col-right {
  @include cols(68.5%, 0, 0);
}
.col-avatars {
  @include cols(33%, 1px, 1px);
}
.col-video {
  @include cols(33%, 0, 0);
}
.col-photos {
  @include cols(24.5%, 0, 0);

}
.col-casts {
  @include cols(24.5%, 0, 0);
}
.col-testimonial {
  @include cols(33%, 15px, 15px);
}
.col-ratings {
  @include cols(49.5%, 15px, 15px);
}
.col-profile-img {
  @include cols(23%, 15px, 15px);
}
.col-add-ratings {
  @include cols(76.5%, 15px, 15px);
}
//.col-list-btn {
//  @include cols(23%, 15px, 15px);
//}

.sidebar {
  padding-left: 3%;
}
.content-wrap {
  padding-left: 3%;
  padding-right: 3%;
}
.s-explore {
  padding: 1em 1em;
  border: 1px solid darken(gray, 20%);
  margin-bottom: 3%;
}

.s-explore__title {
  color: white;
  h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0 5px 0;
  }
}

.s-explore__item {
  color: #d9d9d9;
  a {
    color: #cccccc !important;
    font-size: 14px;
    text-transform: capitalize;
    padding: 0 0 3px 20px;
  }
  a:hover {
    text-decoration: underline !important;
  }
  // ratings
  span {
    float: right;
    font-size: 14px;
    color: #e50914;
  }
}

.active {
  background-color: darken(gray, 20%);
  a {
    color: white !important;
  }
}

.s-users-avatars {

}
.s-users__item {
  margin-bottom: 0.5em;
  text-align: center;

  a {
    color: #cccccc;
  }
  img {
    height: 4em;
    width: 4em;
  }
  span {
    margin: 0 auto;
    font-size: 0.7em;
    display: block;
  }
}

// right content

.r_poster {
  vertical-align:middle;
  text-align:center;
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
  //background: url("https://images-na.ssl-images-amazon.com/images/M/MV5BZDdmMDU2OWUtMzY2NS00YmIyLWJhMGEtYzlhY2M3MTkyYTdmXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SX1500_CR0,100,1500,500_AL_.jpg") no-repeat;
  background-size: cover;
  height: 15em;
}

// the play button
.r_poster--play {
  position: absolute;
  box-sizing: border-box;
  display:inline-block;
  top: 30%;
  left: 45%;
  width:80px;
  height:80px;
  padding-top: 14px;
  padding-left: 8px;
  line-height: 20px;
  border: 6px solid #fff;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background-color: rgba(0,0,0,0.5);
  font-size:20px;
  font-weight:bold;
  transition: all 0.3s ease;
}
.r_poster--play:hover {
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 0px 10px rgba(255,255,100,1);
  text-shadow: 0px 0px 10px rgba(255,255,100,1);
}

.o-button{
  color: white;
  font-size: 0.6em;
  line-height: 1;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5em 1.125em;
  background-color: $color-red;
  border: none;

  &--gray{
    background-color: $color-gray;
  }
}

.md_wrap {
  p {
    font-size: 0.7em;
    margin-top: 0.4em;
    color: gray;
  }
}
// movie title
.md-title{
  font-weight: inherit;
  color: white;
  font-size: 1.0em;
  margin: 2.5em 0 1em;
  width: 100%;
  background-color: $color-red;
  text-transform: uppercase;
  span {
    margin-left: 1em;
    padding: 10px;
    background-color: lighten(black, 7%);;
  }
}
.md-plot {
  color: gray;
  //font-size: 0.8em;
}

.md-list__item {
  margin: 0;
  padding: 0;
  .item__detail {
    padding: 1px;
    font-size: 0.7em;
    color: gray;
  }
}

.md-list__casts {
  .item__detail {
    padding-right: 20px;
  }

  img {
    min-height: 14em;
  }

}
.md-more {
  float: right;
  font-size: 14px;
  margin: 0 0 1em;
  color: gray;
}

// reviews
.testimonial{
  //height: 200px;
  //overflow: scroll;
}
.testimonial .testimonial-content{
  padding: 20px;
  margin-bottom: 35px;
  background: #fff;
  position: relative;
}
.testimonial .testimonial-content:before{
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  border-top: 15px solid #718076;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.testimonial .testimonial-content:after{
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  border-top: 15px solid #718076;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.testimonial-content .testimonial-icon{
  width: 30px;
  height: 25px;
  background: #e50914;
  text-align: center;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
  position: absolute;
  top: 37px;
  left: -19px;
}

// icon background
.testimonial-content .testimonial-icon:before{
  content: "";
  border-bottom: 16px solid #e50914;
  border-left: 18px solid transparent;
  position: absolute;
  top: -16px;
  left: 1px;
}
.testimonial .t_description{
  font-size: 13px;
  font-style: italic;
  color: #8a8a8a;
  line-height: 23px;
  margin: 0;

}
.testimonial .title{
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #525252;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0 0 5px 0;
}
.testimonial .post{
  display: block;
  font-size: 14px;
  color: #e50914;
}
.owl-theme .owl-controls{
  margin-top: 20px;
}
.owl-theme .owl-controls .owl-page span{
  background: #ccc;
  opacity: 1;
  transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  background: #e50914;
}


// ratings

.rating-container {
  /*padding: 4px;*/
  /*margin: 0 auto;*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 1em;
  //margin-right: 2em;
}

.rating-inner {
  margin-right: 2em;
  //border: 1px solid gray;
  background-color: #1a1a1a;
  /*overflow: hidden;*/
  /*position: relative;*/
  /*border: 1px solid gray;*/
  /* -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px; */
}
.ratings-header {
  color: gray;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}
.rating {
  float: left;
  width: 40%;
  /*margin-right: 5%;*/
  text-align: center;
}

.rating-num {
  color: #e50914;
  font-size: 3em;
  font-weight: 100;
  line-height: 1em;
}

.rating-stars {
  font-size: 0.8em;
  color: $color-red;
  margin-bottom: .5em;
}
.rating-stars .active {
  color: #737373;
}
.non-rated {
  color: gray;
}
.rating-users {
  font-size: 14px;
  color: white;
}

.ratings-add {
  textarea {
    width: 100%;
    height: 60px;
    margin-top: 0.5em;
    font-size: 0.8em;
  }
  #post-btn {
    float: right;
    font-size: 0.8em;
    border: none;

  }
}
.histo {
  float: left;
  width: 60%;
  font-size: 13px;
  color: white;
}

.histo-star {
  float: left;
  padding: 3px;

}

.histo-rate {
  width: 100%;
  display: block;
  clear: both;
  padding-top: 2px;
}

.bar-block {
  /*margin-left: 5px;*/
  color: white;
  display: block;
  float: left;
  width: 90%;
  position: relative;
}

.bar {
  padding: 4px;
  /*display: block;*/
}

#bar-five {
  width: 0;
  background-color: #9FC05A;
}

#bar-four {
  width: 0;
  background-color: #ADD633;
}

#bar-three {
  width: 0;
  background-color: #FFD834;
}

#bar-two {
  width: 0;
  background-color: #FFB234;
}

#bar-one {
  width: 0;
  background-color: #FF8B5A;
  margin-left: 2px;
}


#bar-ten {
  width: 0;
  background-color: #9FC05A;
}

#bar-nine {
  width: 0;
  background-color: #ADD633;
}

#bar-eight {
  width: 0;
  background-color: #FFD834;
}

#bar-seven {
  width: 0;
  background-color: #FFB234;
}

#bar-six {
  width: 0;
  background-color: #FF8B5A;
  margin-left: 2px;
}

a {
  color: white;
}

.col-profile-img{
    height: 100px;
    width: auto;
}
ngb-rating{
  color: #fff;
}
