<html>
<body>
<main>
  <div class="container">
    <div class="row">
      <!--   left panel   -->
      <div class="col-sidebar sidebar">
        <!--  sidebar: movies category  -->
        <ul class="s-explore">
          <!--     in theaters -->
          <li class="s-explore__title"><h3>In Theaters</h3></li>
          <li class="s-explore__item"><a href="#">opening this week</a></li>
          <li class="s-explore__item"><a href="#">top box office</a></li>
          <li class="s-explore__item"><a href="#">coming soon</a></li>
          <li class="s-explore__item"><a href="#">certified fresh movies</a></li>

          <!--     dvds -->
          <li class="s-explore__title"><h3>dvd & streaming movies</h3></li>
          <li class="s-explore__item"><a href="#">browser all</a></li>
          <li class="s-explore__item"><a href="#">top DVD & streaming</a></li>
          <li class="s-explore__item"><a href="#">coming soon</a></li>
          <li class="s-explore__item"><a href="#">certified fresh movies</a></li>

          <!--     tv -->
          <li class="s-explore__title"><h3>TV</h3></li>
          <li class="s-explore__item"><a href="#">new TV tonight</a></li>
          <li class="s-explore__item"><a href="#">most popular tv on RT</a></li>
          <li class="s-explore__item"><a href="#">certified fresh TV</a></li>

        </ul>

        <!--  2nd box  -->
        <ul class="s-explore">
          <!--     in theaters -->
          <li class="s-explore__title"><h3>You may also like</h3></li>
          <li class="s-explore__item"><a href="#">Blade Runner 2049</a><span class="s-explore__rating">4.9/5.0</span>
          </li>
          <li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span>
          </li>
          <li class="s-explore__item"><a href="#">Call Me By Your Name</a><span class="s-explore__rating">4.9/5.0</span>
          </li>
          <li class="s-explore__item"><a href="#">Lady Bird</a><span
            class="s-explore__rating">4.9/5.0</span></li>
          <li class="s-explore__item"><a href="#">Blade Runner 2049</a><span class="s-explore__rating">4.9/5.0</span>
          </li>
          <li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span>
          </li>
          <li class="s-explore__item"><a href="#">Call Me By Your Name</a><span class="s-explore__rating">4.9/5.0</span>
          </li>
          <li class="s-explore__item"><a href="#">Lady Bird</a><span
            class="s-explore__rating">4.9/5.0</span></li>
          <li class="s-explore__item"><a href="#">Blade Runner 2049</a><span class="s-explore__rating">4.9/5.0</span>
          </li>
          <li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span>
          </li>
          <li class="s-explore__item"><a href="#"><span style="color: white;">more <i
            class="fa fa-angle-right"></i></span></a></li>
        </ul>

        <!--  3rd box  -->
        <ul class="s-explore s-users">
          <li class="s-explore__title"><h3 style="margin-bottom: 0.7em;">Who watched this movie</h3></li>
          <!--  a list of 3 users -->
          <li class="container">
            <ul class="row s-users-avatars">
              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620069-64e71fbe-18bf-11e8-87e8-565e2fc4d6da.jpeg"
                alt="user"/><span>I am</span></a></li>
              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620076-68d7d546-18bf-11e8-9fd9-e2c313cac2fc.jpeg"
                alt="user"/><span>Cinema</span></a></li>
              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620079-69e311f8-18bf-11e8-99c6-9ceb6c267f9e.jpeg"
                alt="user"/><span>Paradiso</span></a></li>

              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620069-64e71fbe-18bf-11e8-87e8-565e2fc4d6da.jpeg"
                alt="user"/><span>I am</span></a></li>
              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620076-68d7d546-18bf-11e8-9fd9-e2c313cac2fc.jpeg"
                alt="user"/><span>Cinema</span></a></li>
              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620079-69e311f8-18bf-11e8-99c6-9ceb6c267f9e.jpeg"
                alt="user"/><span>Paradiso</span></a></li>

              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620069-64e71fbe-18bf-11e8-87e8-565e2fc4d6da.jpeg"
                alt="user"/><span>I am</span></a></li>
              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620076-68d7d546-18bf-11e8-9fd9-e2c313cac2fc.jpeg"
                alt="user"/><span>Cinema</span></a></li>
              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620079-69e311f8-18bf-11e8-99c6-9ceb6c267f9e.jpeg"
                alt="user"/><span>Paradiso</span></a></li>
            </ul>
          </li> <!-- ./end 3rd row users -->
          <li class="s-explore__item"><a href="#"><span style="color: white;">more <i
            class="fa fa-angle-right"></i></span></a></li>
        </ul>

      </div> <!-- ./end left panel -->

      <!--  right panel -->
      <div class="col-right content-wrap">
        <!-- poster -->
        <div class="r_poster">
          <img id="detail_poster" [src]="movie.photos[0]" [alt]="movie.title" >
          <a class="r_poster--play" onclick="$('#detail_poster').hide(); $(this).hide(); $('#poster_trailer').show();"><i class="fa fa-play fa-2x"></i></a>
          <div id="poster_trailer">
            <iframe src="https://www.imdb.com/videoembed/vi3581589785" allowfullscreen width="687" height="288"></iframe>
          </div>
        </div>
        <!-- ratings -->
        <div class="container">
          <div class="row ratings">
            <div class="col-ratings rating-container">
              <div class="rating-inner">
                <div class="rating">
                  <span class="rating-num">{{movie.rating}}</span>
                  <div class="rating-stars">
                    <span><i class=" fa fa-star icon-star"></i></span>
                    <span><i class=" fa fa-star icon-star"></i></span>
                    <span><i class=" fa fa-star icon-star"></i></span>
                    <span><i class=" fa fa-star icon-star"></i></span>
                    <span><i class=" fa fa-star icon-star "></i></span>
                  </div>
                  <div class="rating-users">
                    <i class="icon-user"></i> {{movie.numberOfRatings}}Total
                  </div>
                </div>

                <div class="histo">
                  <div class="five histo-rate">
                    <span class="histo-star ">
                      <i class="active  icon-star"></i> 5
                    </span>
                    <span class="bar-block">
                      <span id="bar-five" class="bar">
                        <span>5000</span>&nbsp;
                      </span>
                    </span>
                  </div>

                  <div class="four histo-rate">
                    <span class="histo-star">
                      <i class="active   icon-star"></i> 4
                    </span>
                    <span class="bar-block">
                      <span id="bar-four" class="bar">
                        <span>1298</span>&nbsp;
                      </span>
                    </span>
                  </div>

                  <div class="three histo-rate">
                    <span class="histo-star">
                      <i class="active  icon-star"></i> 3
                    </span>
                    <span class="bar-block">
                      <span id="bar-three" class="bar">
                        <span>940</span>&nbsp;
                      </span>
                    </span>
                  </div>

                  <div class="two histo-rate">
                    <span class="histo-star">
                      <i class="active  icon-star"></i> 2
                    </span>
                    <span class="bar-block">
                      <span id="bar-two" class="bar">
                        <span>525</span>&nbsp;
                      </span>
                    </span>
                  </div>

                  <div class="one histo-rate">
                    <span class="histo-star">
                      <i class="active icon-star"></i> 1
                    </span>
                    <span class="bar-block">
                      <span id="bar-one" class="bar">
                        <span>57</span>&nbsp;
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <!--end normal user review-->
            </div>
            <div class="col-ratings rating-container">
              <div class="rating-inner">
                <div class="rating">
                  <span class="rating-num">{{movie.rating}}</span>
                  <div class="rating-stars">
                    <span><i class=" fa fa-star icon-star"></i></span>
                    <span><i class=" fa fa-star icon-star"></i></span>
                    <span><i class=" fa fa-star icon-star"></i></span>
                    <span><i class=" fa fa-star icon-star non-rated"></i></span>
                    <span><i class=" fa fa-star icon-star non-rated"></i></span>
                  </div>
                  <div class="rating-users">
                    <i class="icon-user"></i> 9,004 critics
                  </div>
                </div>

                <div class="histo">
                  <div class="five histo-rate">
                    <span class="histo-star ">
                      <i class="active  icon-star"></i> 5
                    </span>
                    <span class="bar-block">
                      <span id="bar-ten" class="bar">
                        <span>6,784</span>&nbsp;
                      </span>
                    </span>
                  </div>

                  <div class="four histo-rate">
                    <span class="histo-star">
                      <i class="active   icon-star"></i> 4
                    </span>
                    <span class="bar-block">
                      <span id="bar-nine" class="bar">
                        <span>1298</span>&nbsp;
                      </span>
                    </span>
                  </div>

                  <div class="three histo-rate">
                    <span class="histo-star">
                      <i class="active  icon-star"></i> 3
                    </span>
                    <span class="bar-block">
                      <span id="bar-eight" class="bar">
                        <span>940</span>&nbsp;
                      </span>
                    </span>
                  </div>

                  <div class="two histo-rate">
                    <span class="histo-star">
                      <i class="active  icon-star"></i> 2
                    </span>
                    <span class="bar-block">
                      <span id="bar-seven" class="bar">
                        <span>525</span>&nbsp;
                      </span>
                    </span>
                  </div>

                  <div class="one histo-rate">
                    <span class="histo-star">
                      <i class="active icon-star"></i> 1
                    </span>
                    <span class="bar-block">
                        <span id="bar-six" class="bar">
                          <span>57</span>&nbsp;
                        </span>
                      </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end critic rating histogram-->
        </div>
        <!-- add ratings -->
        <div class="container ratings-add">
          <p class="ratings-header">Add Your Rating</p>
          <div class="row">
            <img class="col-profile-img"
              src="{{profile_url}}"
              alt="user"/>
            <div class="col-add-ratings">
              <div *ngIf="!status; else elseBlock">
                <button routerLinkActive="active" class="o-button o-button--gray trigger"  href="javascript:;">+ Watchlist</button>
                <button routerLinkActive="active" class="o-button trigger" href="javascript:;">+ Wishlist</button>
                <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly" >
                  <span class="star"></span>
                </ngb-rating>
                <app-login></app-login>
              </div>
              <ng-template #elseBlock>
                <div *ngIf ="inWatchlist; else addToWatchlist">
                  <button class="o-button o-button--blue" (click)= "removeFromWacthList()">- Watchlist</button>
                </div>
                <ng-template #addToWatchlist >
                  <button class="o-button o-button--gray" (click)= "addWatchlist()">+ Watchlist</button>
                </ng-template>

                <div *ngIf ="inWishlist; else addToWishlist">
                  <button class="o-button o-button--blue" (click)= "removeFromWishList()">- Wishlist</button>
                </div>

                <ng-template #addToWishlist>
                  <button class="o-button o-button--gray" (click)= "addWishlist()">+ Wishlist</button>
                </ng-template>
                <div *ngIf ="inRatedMovieList; else rateMovieBlock">
                  <ngb-rating [(rate)]="movie.rating" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly" (click)="rateMovie()">
                    <span class="star"></span>
                  </ngb-rating>
                </div>
                <ng-template #rateMovieBlock>
                  <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly" (click)="rateMovie()">
                    <span class="star"></span>
                  </ngb-rating>
                </ng-template>
              </ng-template>


              <textarea placeholder="Add a review..."></textarea>
              <button id="post-btn">Post</button>
            </div>
          </div>
        </div>

        <!-- movie info -->
        <div class="md_wrap">
          <h4 class="md-title"><span>{{movie.title}}</span></h4>


          <p class="md-plot">{{movie.plot}}</p>

          <p>
            Director <span> <a routerLink="/celebrity">{{movie.director.name}}</a></span>
          </p>
          <p>
            Starring
            <span *ngFor="let cast of movie.cast">
              <a routerLink="/celebrity">{{cast.name}},</a>
            </span>
          </p>
          <p>
            Genre
            <span *ngFor="let genre of movie.genres" style="text-transform: lowercase">
              <a href="">{{genre}},</a>
            </span>
          </p>

        </div>


        <!-- 	1st section	videos -->
        <section class="md_wrap">
          <h2 class="md-title"><span>VIDEOS</span></h2>
          <!--<a class="l-cards__more" href="#">more <i class="fa fa-angle-double-right"></i></a>-->

          <ul class="container md-list__videos">
            <li class="row md-list__item">
              <object class="col-video item__detail"
                      data="https://www.youtube.com/embed/uiA4B5Y63IQ?hd=1&rel=0&autohide=1&showinfo=0">
              </object>

              <object class="col-video item__detail"
                      data="https://www.youtube.com/embed/zwmTb-aAdJg?hd=1&rel=0&autohide=1&showinfo=0">
              </object>
              <object class="col-video item__detail"
                      data="https://www.youtube.com/embed/T6pk194roPI?hd=1&rel=0&autohide=1&showinfo=0">
              </object>
            </li>
          </ul>
        </section>
        <!-- 	end 1st section	 -->

        <!-- 	2nd section	photos -->
        <section class="md_wrap">
          <h2 class="md-title"><span>PHOTOS</span></h2>
          <!--<a class="l-cards__more" href="#">more <i class="fa fa-angle-double-right"></i></a>-->
          <ul class="container md-list__photos">
            <!--<li class="row md-list__item" *ngFor="let photo of movie.photos">-->
            <li class="row md-list__item" >
              <a class="col-photos item__detail" href="" *ngFor="let photos of movie.photos">
                <img src="{{photos}}" [alt]="movie.title">
              </a>
            </li>
          </ul>
        </section>
        <!-- end 2nd section -->

        <!-- 	3rd section	cast -->
        <section class="md_wrap">
          <h2 class="md-title"><span>CAST</span></h2>
          <!--<a class="l-cards__more" href="#">more <i class="fa fa-angle-double-right"></i></a>-->
          <ul class="container md-list__casts">
            <li class="row md-list__item">
              <a class="col-casts item__detail" routerLink="/celebrity" *ngFor="let casts of movie.cast">
                <img src="{{casts.profileImage}}" ><span>{{casts.name}}</span>
              </a>
            </li>

          </ul>
        </section>
        <!-- end 3rd section -->

        <!--CAUTION: all reviews are mixed together, just specify user role span-->

        <!-- 	4th section	all reviews -->
        <section class="md_wrap">
          <h2 class="md-title"><span>REVIEWS</span></h2>
          <a class="md-more" href="#">more <i class="fa fa-angle-double-right"></i></a>
          <div class="container">
            <div class="row">
              <!--<div class="col-md-12">-->
              <!--<div id="testimonial-slider" class="owl-carousel">-->
              <div class="col-testimonial testimonial" *ngFor="let reviews of movie.reviews">
                <div class="testimonial-content">
                  <div class="testimonial-icon">
                    <i class="fa fa-quote-left"></i>
                  </div>
                  <p class="t_description">
                    {{reviews}}
                  </p>
                </div>
                <h3 class="title">John</h3>
                <div *ngIf="!isCritic; else notCriticBlock">
                  <span class="post">Top Critics</span>
                </div>
                <div #notCriticBlock>
                  <span class="post">Super Reviewer</span>
                </div>
              </div>
            </div>
          </div>
          <!--</div>-->
          <!--</div>-->

        </section>


        <!-- 	4th section	audience reviews -->
        <!--<section class="md_wrap">-->
          <!--<h2 class="md-title"><span>AUDIENCE REVIEWS</span></h2>-->
          <!--<a class="md-more" href="#">more <i class="fa fa-angle-double-right"></i></a>-->
          <!--<div class="container">-->
            <!--<div class="row">-->
              <!--&lt;!&ndash;<div class="col-md-12">&ndash;&gt;-->
              <!--&lt;!&ndash;<div id="testimonial-slider2" class="owl-carousel">&ndash;&gt;-->
              <!--<div class="col-testimonial testimonial">-->
                <!--<div class="testimonial-content">-->
                  <!--<div class="testimonial-icon">-->
                    <!--<i class="fa fa-quote-left"></i>-->
                  <!--</div>-->
                  <!--<p class="t_description">-->
                    <!--The Shape of Water is an ingenious fantasy romance that utilizes-->
                    <!--cold war era elements to the advantage of its premise while subtly-->

                  <!--</p>-->
                <!--</div>-->
                <!--<h3 class="title">Drake Tsui</h3>-->
                <!--<span class="post">Super Reviewer</span>-->
              <!--</div>-->
              <!--<div class="col-testimonial testimonial">-->
                <!--<div class="testimonial-content">-->
                  <!--<div class="testimonial-icon">-->
                    <!--<i class="fa fa-quote-left"></i>-->
                  <!--</div>-->
                  <!--<p class="t_description">-->
                    <!--Guillermo del Toro has found himself to be quite the respected-->
                    <!--filmmaker over the years but, if I had to be brutally honest, I'd-->

                  <!--</p>-->
                <!--</div>-->
                <!--<h3 class="title">Mark Walker</h3>-->
                <!--<span class="post">Super Reviewer</span>-->
              <!--</div>-->
              <!--<div class="col-testimonial testimonial">-->
                <!--<div class="testimonial-content">-->
                  <!--<div class="testimonial-icon">-->
                    <!--<i class="fa fa-quote-left"></i>-->
                  <!--</div>-->
                  <!--<p class="t_description">-->
                    <!--Like many of Del Toro's movies, I just couldn't buy into it. I found-->
                    <!--myself not caring about the monster and I didn't buy the-->
                  <!--</p>-->
                <!--</div>-->
                <!--<h3 class="title">Sanjay Rema</h3>-->
                <!--<span class="post">Super Reviewer</span>-->
              <!--</div>-->

            <!--</div>-->
          <!--</div>-->
        <!--</section>-->
        <!-- end -->

      </div> <!-- ./end right panel -->
    </div> <!-- ./row -->
  </div> <!-- ./container-fluid -->

</main>
</body>
</html>

