<div class="search-tab">
  <div *ngIf="(movieCount+celebrityCount+tvCount)>0;else no_results_found">
    <h4>SEARCH RESULTS FOR: "{{toolbar_keyword}}"</h4>
  </div>
  <ng-template #no_results_found>
    <h4>SORRY, NO RESULTS FOUND FOR "{{toolbar_keyword}}"</h4>
  </ng-template>
  <ul>
    <li *ngIf="(movieCount+celebrityCount+tvCount)>0"><a routerLinkActive="active" routerLink="/search" [queryParams]="{keyword:toolbar_keyword}" href="">All({{movieCount+celebrityCount+tvCount}})</a></li>
    <li *ngIf="movieCount>0"><a routerLinkActive="active" routerLink="/search/movie" [queryParams]="{keyword:toolbar_keyword}" href=""><i class="fa fa-film"></i> Movies({{movieCount}})</a></li>
    <li *ngIf="tvCount>0"><a routerLinkActive="active" routerLink="/search/tv" [queryParams]="{keyword:toolbar_keyword}" href=""><i class="fa fa-tv"></i> TV-Series({{tvCount}})</a></li>
    <li *ngIf="celebrityCount>0"><a routerLinkActive="active" routerLink="/search/celebrity" [queryParams]="{keyword:toolbar_keyword}" href=""><i class="fa fa-user"></i> People({{celebrityCount}})</a></li>
  </ul>
</div>


