// Base

$primary-light-blue: #8DB9ED;
$primary-line-color: #ccc;
$color-red: rgb(229, 9, 20);
$color-gray: rgb(100, 100, 100);
$padding-hrz: 2.5em;

// Objects
main {
  padding-bottom: 3em;
}
.o-button{
  border: none;
  font-size: 0.75em;
  line-height: 1;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1.125em;
  background-color: $color-red;

  &--gray{
    background-color: $color-gray;
  }
}

// carousel
.carousel-indicators {
  bottom: 5px;
}

.l-hero{
  width: 100%;
  height: 450px;
  object-fit: cover;
  background: ("../../../assets/images/carousel_img/1.jpg");
  background-size:cover;
  padding-bottom: 3em;
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
}

.l-hero__img {
  object-fit: cover;
  height: 450px;
}

.l-hero__text-wrapper {
  position: absolute;
  top: 0;
  width: 50%;
  background: linear-gradient(to right, lighten(black, 0%), lighten(black, 5%),lighten(black, 7%), transparent);
}
.l-hero__text{
  padding: 3em $padding-hrz 6em;
  min-height: 450px;
}

.l-hero__subhl{
  font-weight: bold;
  margin-top: 1.25em;
  margin-bottom: 0.625em;
}
// movie title wrap
.c-title{
  font-weight: inherit;
  color: white;
}
// sub-title
.c-title__category{
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding-bottom: 5px;
  display: block;
}
// movie title
.c-title__name{
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.03em;

}
// rating
.absolute .flex{
  font-size: 14px;
  display:flex;
  align-items:baseline;
  /*   border:solid 1px red; */
  width:250px;
  padding-bottom:0;
  margin-bottom:0;
  height:40px;
}
.fa-star, .fa-star-half-o{
  color:$color-red;
}

// rate
.flex p:nth-of-type(1){
  margin-left:5px;
  margin-right:10px;
  color:white;
}
.flex p:nth-of-type(2){
  background:grey;
  color: #fff;
  padding: 0 4px;
}
// Layouts
.c-plot {
  margin-top: 15px;
  margin-bottom: 15px;
}

c-genres {
  text-transform: capitalize;
}
p {
  // font-size: 0.8rem;
  font-size: 14px;
  margin-top: 5px;
  color: darken(white, 45%);
  span {
    color: white;
  }
}
.l-hero__buttons{
  margin-top: 1.5rem;
  display: flex;
  color: white;

  > * + *{
    margin-left: 0.75rem;
  }
}

.l-cards{
  padding-left: 1.2em;
  padding-bottom: 12.5em;
  p{
    font-size: 0.6em !important;
  }
}

.l-cards__title-wrap{
  padding-bottom: 5px;
}
// title of each section
.l-cards__title{
  font-size: 0.9em;
  color: white;
  display: inline;
  margin-left: 1.5%;
}
// the more button on the right
.l-cards__nav-left, .l-cards__nav-right{
  float: right;
  color: white;
/*  background-color: $color-red;*/
  font-size: 0.8em;
  padding: 1px 8px;
  border-radius: 50%;
}
.l-cards__nav-left{
  margin-right: 3%;
}
.l-cards__nav-left:hover{

}
.l-cards__nav-right {
  margin-right: 0.5em;
}

// poster list
.l-cards__list{
  margin-top: 0.5em;
  //padding-bottom: 5em;
  display: flex;
}

.l-cards__text{
  text-align: center;
  font-weight: 500;
  font-size: 0.6em !important;
  // ratings
  p {
    color: $color-red;
  }
}
// individual poster
.l-cards__item{
  background-color: $color-gray;
  height: 3em;
  flex: 0 0 7.57em;   // size of each poster
  margin: 0 1.2em;
  text-align: center;
  // text under poster
  a {
    color: darken(white, 40%);
    font-size: 0.7em;
    // text-decoration: none;
  }
  // fix the height
  img {
    height: 16em;
  }
  p {
    color: $color-red;
    font-size: 1em;
  }

  & + &{
    margin-left: 0.25rem;
  }
}
