<html lang="en">
<body>

<main>
  <article>
    <div class="l-hero">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let carouselSlide of carousel">
          <a routerLink="{{carouselSlide.imdbId}}" ><img [src]=carouselSlide.photos[2] alt="slide" class="l-hero__img"  ></a>
          <div class="l-hero__text-wrapper">
            <div class="l-hero__text">

              <a routerLink="{{carouselSlide.imdbId}}" (click)="setImdbId(carouselSlide.imdbId)">
                <div class="c-title">
                  <span class="c-title__category"><strong>{{carouselSlide.awards}}</strong> </span>
                  <span class="c-title__name">{{carouselSlide.title}} <br></span>
                  <div class="absolute">
                    <div class="flex" *ngIf="carouselSlide.rating==null">
                      <p style="color: #e50914;font-size: 0.8em !important;">NOT RATING</p>
                      <p style="background:grey;color: #fff; margin-left: 0; padding-left: 3px; padding-right: 3px;">{{carouselSlide.rated}}</p>
                    </div>

                    <div class="flex" *ngIf="carouselSlide.rating>4 && carouselSlide.rating<5">
                      <i class="fa fa-star "></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                      <p>{{carouselSlide.rating}}/5.0</p>
                      <p>{{carouselSlide.rated}}</p>
                    </div><!--flex end-->

                    <div class="flex" *ngIf="carouselSlide.rating>3 && carouselSlide.rating<4">
                      <i class="fa fa-star "></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                      <p>{{carouselSlide.rating}}/5.0</p>
                      <p>{{carouselSlide.rated}}</p>
                    </div><!--flex end-->

                    <div class="flex" *ngIf="carouselSlide.rating>2 && carouselSlide.rating<3">
                      <i class="fa fa-star "></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                      <p>{{carouselSlide.rating}}/5.0</p>
                      <p>{{carouselSlide.rated}}</p>
                    </div><!--flex end-->

                    <div class="flex" *ngIf="carouselSlide.rating>1 && carouselSlide.rating<2">
                      <i class="fa fa-star "></i>
                      <i class="fa fa-star-half-o"></i>
                      <p>{{carouselSlide.rating}}/5.0</p>
                      <p>{{carouselSlide.rated}}</p>
                    </div><!--flex end-->

                    <div class="flex" *ngIf="carouselSlide.rating>0 && carouselSlide.rating<1">
                      <i class="fa fa-star-half-o"></i>
                      <p>{{carouselSlide.rating}}/5.0</p>
                      <p>{{carouselSlide.rated}}</p>
                    </div><!--flex end-->

                    <div class="flex" *ngIf="carouselSlide.rating==5">
                      <i class="fa fa-star "></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <p>{{carouselSlide.rating}}/5.0</p>
                      <p>{{carouselSlide.rated}}</p>
                    </div><!--flex end-->

                    <div class="flex" *ngIf="carouselSlide.rating==4">
                      <i class="fa fa-star "></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <p>{{carouselSlide.rating}}/5.0</p>
                      <p>{{carouselSlide.rated}}</p>
                    </div><!--flex end-->

                    <div class="flex" *ngIf="carouselSlide.rating==3">
                      <i class="fa fa-star "></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <p>{{carouselSlide.rating}}/5.0</p>
                      <p>{{carouselSlide.rated}}</p>
                    </div><!--flex end-->

                    <div class="flex" *ngIf="carouselSlide.rating==2">
                      <i class="fa fa-star "></i>
                      <i class="fa fa-star"></i>
                      <p>{{carouselSlide.rating}}/5.0</p>
                      <p>{{carouselSlide.rated}}</p>
                    </div><!--flex end-->

                    <div class="flex" *ngIf="carouselSlide.rating==1">
                      <i class="fa fa-star "></i>
                      <p>{{carouselSlide.rating}}/5.0</p>
                      <p>{{carouselSlide.rated}}</p>
                    </div><!--flex end-->

                    <div class="flex" *ngIf="carouselSlide.rating==0">
                      <p>No Rating</p>
                    </div><!--flex end-->
                  </div>
                </div>
              </a>

              <p class="c-plot">{{carouselSlide.plot}}</p>

              <!--@TODO: casts not shown-->
              <p clss="c-starring">
                Starring
                <span *ngFor="let cast of carouselSlide.cast">
                    {{cast}},
                </span>
              </p>

              <p>
                Director
                <span *ngFor="let director of carouselSlide.director">
                  {{director}},
                </span>
              </p>
              <p>
                Genres
                <!--<span class="c-genres" style="text-transform: lowercase">{{carouselSlide.genres}}</span>-->
                <span *ngFor="let genre of carouselSlide.genres">
                  {{genre}},
                </span>
              </p>
              <!--<div class="l-hero__buttons">-->
                <!--<button class="o-button o-button&#45;&#45;gray">+ Watchlist</button>-->
                <!--<button class="o-button">+ Wishlist</button>-->
              <!--</div>-->
            </div>
          </div>
        </ng-template>

      </ngb-carousel>
    </div>

    <!-- 	1st section	 -->
    <section class="l-cards">
      <div class="l-cards__title-wrap">
        <h2 class="l-cards__title">MOVIES OPENING THIS WEEK</h2>
        <a class="l-cards__nav-left" href="" routerLink="/movies" [queryParams]="{category:'opening_this_week'}">View All</a>
      </div>

      <ul class="l-cards__list" id="movies_opening_this_week">
        <li class="l-cards__item" *ngFor="let movie of moviesOpening">
          <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
            <img [src]="movie.poster" [alt]="movie.title">
          </a>
          <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
            {{movie.title}}
          </a>
          <p>{{convertStringToDate(movie.releaseDate)}}</p>
        </li>
      </ul>
    </section>
    <!-- 	end 1st section	 -->


    <section class="l-cards">
      <div class="l-cards__title-wrap">
        <h2 class="l-cards__title">TOP BOX OFFICE</h2>
        <a class="l-cards__nav-left" href="" routerLink="/movies" [queryParams]="{category:'top_box_office'}">View All</a>
      </div>
      <ul class="l-cards__list" id="top_box_office">
        <li class="l-cards__item" *ngFor="let movie of moviesTopBoxOffice | slice: 0:6" >
          <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
            <img [src]="movie.poster" [alt]="movie.title">
          </a>
          <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
            {{movie.title}}
          </a>
          <p>{{convertNumberToMillion(movie.boxOffice)}}</p>
        </li>

      </ul>
    </section>

    <section class="l-cards">
      <div class="l-cards__title-wrap">
        <h2 class="l-cards__title">COMING SOON TO THEATERS</h2>
        <a class="l-cards__nav-left" href="" routerLink="/movies" [queryParams]="{category:'coming_soon'}">View All</a>
      </div>
      <ul class="l-cards__list" id="coming_soon_to_theaters">

        <li class="l-cards__item" *ngFor="let movie of moviesComingSoon | slice: 0:6">
          <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
            <img [src]="movie.poster" [alt]="movie.title">
          </a>
          <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
            {{movie.title}}
          </a>
          <p>{{convertStringToDate(movie.releaseDate)}}</p>
        </li>

      </ul>
    </section>
    <!-- end 2nd section -->

    <section class="l-cards">
      <div class="l-cards__title-wrap">
        <h2 class="l-cards__title">NEW TV TONIGHT</h2>
        <a class="l-cards__nav-left" href="" routerLink="/movies" [queryParams]="{category:'new_tv_tonight'}">View All</a>
      </div>
      <ul class="l-cards__list">
        <li class="l-cards__item" *ngFor="let tv of newTVTonight | slice: 0:6">
          <a routerLink="/tv/{{tv.imdbId}}" (click)="setImdbId(tv.imdbId)" routerLinkActive="active" class="l-cards__image fill">
            <img [src]="tv.poster" [alt]="tv.title">
          </a>
          <a routerLink="/tv/{{tv.imdbId}}" (click)="setImdbId(tv.imdbId)" routerLinkActive="active"  class="l-cards__text">
            {{tv.title}}
            <p>{{tv.rating}}/5.0</p>
          </a>
        </li>
      </ul>
    </section>
    <!-- end -->


    <section class="l-cards">
      <div class="l-cards__title-wrap">
      <h2 class="l-cards__title">MOST POPULAR TV ON CP</h2>
        <a class="l-cards__nav-left" href="" routerLink="/movies" [queryParams]="{category:'most_popular_tv'}">View All</a>
      </div>
        <ul class="l-cards__list">
          <li class="l-cards__item" *ngFor="let tv of mostPopularTVOnCP | slice: 0:6">
            <a routerLink="/tv/{{tv.imdbId}}" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="tv.poster" [alt]="tv.title">
            </a>
            <a routerLink="/tv/{{tv.imdbId}}" routerLinkActive="active"  class="l-cards__text">
              {{tv.title}}
              <p>{{tv.rating}}/5.0</p>
            </a>
          </li>
      </ul>
    </section>


  </article>
</main>

</body>

</html>
