<header class="l-header">
  <nav class="l-header__logo">
    <a routerLink="/home" routerLinkActive="active">
      <img alt="logo" src="../../../assets/images/logo.png">
    </a>
  </nav>

  <nav class="l-header__nav">
    <a>
      <form>
        <input type="search" placeholder="Search">
      </form>
    </a>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/movies" routerLinkActive="active">Movies</a>
    <a routerLink="/movies" routerLinkActive="active">TV Shows</a>

    <div *ngIf="!status; else elseBlock">
      <a routerLinkActive="active" class="trigger" href="javascript:;">Log in / Sign up</a>
    </div>
    <ng-template #elseBlock>
        <div *ngIf ="is_admin; else userBlock">
          <a routerLink="admin">{{user.username}}</a>
          <a class="trigger" (click)="logout()">LogOut</a>
        </div>

        <ng-template #userBlock>
          <a routerLink="user/{{user.id}}">{{user.username}}</a>
          <a class="trigger" (click)="logout()">LogOut</a>
        </ng-template>
    </ng-template>
    <!--<a routerLinkActive="active" class="trigger" href="javascript:;">Sign up</a>-->

  </nav>
</header>

<app-login></app-login>
