<!-- footer -->
<footer>
  <div class="f-wrap">
    <section class="f-column">
      <a href="faq.html">FAQs</a>
      <a href="faq.html">Contact Us</a> <a href="faq.html">Feedback</a>
      <a href="faq.html">Privacy Policy</a>
    </section>

    <section class="f-column">
      <a href="critic_submission.html">Critic Submission</a>
      <a href="faq.html">Licensing</a>
      <a href="faq.html">Advertise</a>
      <a href="faq.html">Careers</a>
    </section>

    <section class="f-column">
      <a href="#">Follow us on</a>
      <br>
      <ul class="social-icons">
        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
      </ul>
    </section>
  </div>
  <div class="legality">
    © Copyright 2018 Cinema Paradiso
  </div>
</footer>

