<!-- footer -->
<footer>
  <div class="f-wrap">
    <section class="f-column">
      <a href="" routerLink="/about">About</a>
      <a href="" routerLink="/contact">Contact Us</a>
      <a href="faq.html">Feedback</a>
      <a href="" routerLink="/privacy_policy">Privacy Policy</a>
    </section>

    <section class="f-column">
      <a href="critic_submission.html">Critic Submission</a>
      <a href="faq.html">Licensing</a>
      <a href="faq.html">Advertise</a>
      <a href="faq.html">Careers</a>
    </section>

    <section class="f-column">
      <p>FOLLOW US ON</p>
      <br>
      <ul class="social-icons">
        <li><a href="https://www.facebook.com/Cinema-Paradiso-CSE308-Spring2018-144345399751573/?ref=br_rs" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/cinemaParad_308" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/cinemaparadiso308/" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCyXsVhdaGX8su5TZZmUpRLQ" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="https://plus.google.com/u/3/112306600346439349104" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
      </ul>
    </section>
  </div>
  <div class="legality">
    © Copyright 2018 Cinema Paradiso
  </div>
</footer>

