
<body>

<main>
  <div class="general_container">
    <h5>Customer Service</h5>
    <p>Visit <a routerLink="/about">About Cinema Paradiso</a> to learn more about the Cinema Paradiso and team behind it. </p>
    <br>
    <p>Have questions or want to submit a movie or TV data edit request? Contact us via our <a href="mailto:CinemaParadiso308@gmail.com?Subject=Question About Cinema Paradiso">Email</a>.</p>
    <br>
    <p class="border-bottom"></p>
    <br>
    <h5>Edit Request</h5>
    <p>Tell us about missing or incorrect movie or TV information by submitting a request via our <a href="mailto:CinemaParadiso308@gmail.com?Subject=Edit Request">Email</a>.</p>
    <br>
    <p class="border-bottom"></p>
    <br>
    <h5>Partnerships</h5>
    <p>If your company is interested in partnering with us, fill out our <a href="mailto:CinemaParadiso308@gmail.com?Subject=Partnership">Email</a> with more details.</p>
    <br>
    <p class="border-bottom"></p>
    <br>
    <h5>Career Opportunities</h5>
    <p>Interested in joining the Fandango family? Learn about an exciting career with us by visiting our <a routerLink="../career">Careers</a> page.</p>
  </div>
</main>
</body>
