
<body>
<main>
  <div class="general_container">
    <p>© Copyright 2018 Cinema Paradiso & Team Walnut</p>
    <br>
    <h5>LICENSING</h5>
    <p>If you would like to use any of our trademarks or logos, please submit a request with details of your planned usage via our <a href="mailto:CinemaParadiso308@gmail.com">Email</a> for review and access to assets.</p>
    <br>
    <p>For information about integrating Cinema Paradiso data into your application (via APIs, data feeds), please submit a request with details about your application and your planned usage of our data via our <a href="mailto:CinemaParadiso308@gmail.com">Email</a>.</p>
    <br>
  </div>
</main>
</body>
