$color-red: rgb(229, 9, 20);

main{
  background-color: lighten(black, 7%);
  height: 100%;
  padding-top: 3%;
  padding-bottom: 4%;
}

.search-tab {
  margin-left: 3%;
  margin-bottom: 1em;
  li {
    display: inline-block;
    margin-right: 1em;
  }
  a {
    color: gray;
    text-decoration: none;
    font-size: 0.8em;
  }
  a:hover {
    color: white;
  }

}
// individual result
.s-item {
  margin-bottom: 2em;
}
// image wrap
.s_img-wrap {
  padding-left: 4em;
  img {
    height: 250px;
    max-width: 180px;
  }

}
.s-item__title {
  font-size: 1.1em;
  color: white !important;
}
.s-plot {
  margin-top: 15px;
  margin-bottom: 15px;
}
p {
  // font-size: 0.8rem;
  font-size: 14px;
  margin-top: 5px;
  color: darken(white, 45%);
  span {
    color: white;
  }
}
// rating
.absolute .flex{
  font-size: 14px;
  display:flex;
  align-items:baseline;
  /*   border:solid 1px red; */
  width:250px;
  padding-bottom:0;
  margin-bottom:0;
  height:40px;
}
.fa-star{
  color:$color-red;
}
.fa-star-half-o{
  color:$color-red;
}
// rate
.flex {
  font-size: 0.8em;
  p {
    display: inline-block;
  }
  // ratings
  p:nth-of-type(1){
    margin-left:5px;
    margin-right:10px;
    color:white;
  }
  // rate
  p:nth-of-type(2){
    background:grey;
    color: #fff;
    padding: 0 4px;
  }

}

ngb-pagination /deep/{
  color: white ;
  background-color: transparent;
  display:inline-block;
}

.bottom_divide{
  border-bottom-style: solid;
  margin-left:3%;
  margin-right: 3%;
  color: #999;
}

h4{
  color: #999;
}

.pagination_center{
  text-align: center;
}
