<html>
<body>
<main>

<div class="search-tab">

  <ul>
    <li><a class="show_movies" href=""><i class="fa fa-film"></i> Movies</a></li>
    <li><a class="show_tv" href=""><i class="fa fa-tv"></i> TV-Series</a></li>
    <li><a class="show_people" href=""><i class="fa fa-user"></i> People</a></li>
  </ul>

</div>

<br>

<div class="container movie_results">

  <div class="row s-item">
    <div class="col-4 s_img-wrap">
      <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNGNiNWQ5M2MtNGI0OC00MDA2LWI5NzEtMmZiYjVjMDEyOWYzXkEyXkFqcGdeQXVyMjM4NTM5NDY@._V1_UX182_CR0,0,182,268_AL_.jpg"
           alt="">
    </div>
    <div class="col-7">
      <a routerLink="/movie-detail" class="s-item__title">The Shape of Water</a>

      <div class="flex">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <p>5.0/5.0</p>
        <p>R</p>
      </div>

      <p class="s-plot">At a top secret research facility in the 1960s, a lonely janitor forms a unique
        relationship with an amphibious
        creature that is being held in captivity.</p>
      <p>
        Starring
        <span> Sally Hawkins, Octavia Spencer, Michael Shannon</span>
      </p>
      <p>
        Director
        <span>Guillermo del Toro</span>
      </p>
      <p>
        Genres
        <span>Adventure, Drama, Fantasy, Horror, Romance</span>
      </p>
    </div>
  </div>

  <div class="row s-item">
    <div class="col-4 s_img-wrap">
      <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNGNiNWQ5M2MtNGI0OC00MDA2LWI5NzEtMmZiYjVjMDEyOWYzXkEyXkFqcGdeQXVyMjM4NTM5NDY@._V1_UX182_CR0,0,182,268_AL_.jpg"
           alt="">
    </div>
    <div class="col-7">
      <a routerLink="/movie-detail" class="s-item__title">The Shape of Water</a>

      <div class="flex">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <p>5.0/5.0</p>
        <p>R</p>
      </div>

      <p class="s-plot">At a top secret research facility in the 1960s, a lonely janitor forms a unique
        relationship with an amphibious
        creature that is being held in captivity.</p>
      <p>
        Starring
        <span> Sally Hawkins, Octavia Spencer, Michael Shannon</span>
      </p>
      <p>
        Director
        <span>Guillermo del Toro</span>
      </p>
      <p>
        Genres
        <span>Adventure, Drama, Fantasy, Horror, Romance</span>
      </p>
    </div>
  </div>

</div>


<div class="container tv_results" style="display:none">

  <div class="row">
    <div class="col-4 s_img-wrap">
      <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjE3NTQ1NDg1Ml5BMl5BanBnXkFtZTgwNzY2NDA0MjI@._V1_UX182_CR0,0,182,268_AL_.jpg"
           alt="">
    </div>
    <div class="col-7">
      <p class="s-item__title">Game of Throne</p>

      <div class="flex">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <p>5.0/5.0</p>
        <p>RR</p>
      </div>

      <p class="s-plot">Nine noble families fight for control over the mythical lands of Westeros, while an
        ancient enemy returns
        after being dormant for thousands of years. </p>
      <p>
        Starring
        <span> Emilia Clarke, Peter Dinklage, Kit Harington </span>
      </p>
      <p>
        Director
        <span> David Benioff, D.B. Weiss </span>
      </p>
      <p>
        Genres
        <span> Action | Adventure | Drama | Fantasy | Romance </span>
      </p>
    </div>
  </div>
</div>


<div class="container people_results" style="display:none">
  <div class="row">
    <div class="col-4 s_img-wrap">
      <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BODE4MDE0MDEzMl5BMl5BanBnXkFtZTgwNjI1NTU5MDE@._V1_UY317_CR14,0,214,317_AL_.jpg"
           alt="">
    </div>
    <div class="col-7">
      <p class="s-item__title">Sally Hawkins</p>
      <p class="s-item__bio">Sally Cecilia Hawkins was born in 1976 in Lewisham hospital, London, England, to Jacqui
        and Colin Hawkins,
        authors and illustrators of children\s books. She is of English and Irish descent. Hawkins was brought
        up in Greenwich, in southeast London. She attended James Allen\'s Girls\' School in Dulwich. She
        graduated
        from the Royal Academy of ...</p>
      <p class="s-item__birth">
        Born in:
        <span class="actor_birth_date">April 27, 1976 in Dulwich, London, England, UK</span>
      </p>

    </div>
  </div>
</div>

</main>

</body>

</html>
