<html>
<body>
<main>
  <search-toolbar></search-toolbar>
  <div class="container movie_results"  *ngIf="movieSearchCount>0">
    <h4 class="bottom_divide">MOVIES</h4>
    <div class="row s-item" *ngFor="let movie of movieResults, let index = index">
      <div class="col-4 s_img-wrap" routerLink="/movie/{{movie.imdbId}}">
        <img src="{{movie.poster}}"
             alt="">
      </div>
      <div class="col-7">
        <a routerLink="/movie/{{movie.imdbId}}" class="s-item__title">{{movie.title}} ({{movie.year}})</a>

        <div class="flex">
          <div *ngIf="movie.rating==null">
            <p class="no_rating">No Ratings</p>
            <p>{{movie.rated}}</p>
          </div>
          <div *ngIf="movie.rating>0&& movie.rating<1">
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <p>{{movie.rating}}/5.0</p>
            <p>{{movie.rated}}</p>
          </div>

          <div *ngIf="movie.rating==1">
            <i class="fa fa-star" ></i>
            <p>{{movie.rating}}/5.0</p>
            <p>{{movie.rated}}</p>
          </div>

          <div *ngIf="movie.rating>1&& movie.rating<2">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <p>{{movie.rating}}/5.0</p>
            <p>{{movie.rated}}</p>
          </div>

          <div *ngIf="movie.rating==2">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star"></i>
            <p>{{movie.rating}}/5.0</p>
            <p>{{movie.rated}}</p>
          </div>

          <div *ngIf="movie.rating>2&& movie.rating<3">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <p>{{movie.rating}}/5.0</p>
            <p>{{movie.rated}}</p>
          </div>

          <div *ngIf="movie.rating==3">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <p>{{movie.rating}}/5.0</p>
            <p>{{movie.rated}}</p>
          </div>

          <div *ngIf="movie.rating>3&& movie.rating<4">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <p>{{movie.rating}}/5.0</p>
            <p>{{movie.rated}}</p>
          </div>

          <div *ngIf="movie.rating==4">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <p>{{movie.rating}}/5.0</p>
            <p>{{movie.rated}}</p>
          </div>

          <div *ngIf="movie.rating>4&& movie.rating<5">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <p>{{movie.rating}}/5.0</p>
            <p>{{movie.rated}}</p>
          </div>

          <div *ngIf="movie.rating==5">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <p>{{movie.rating}}/5.0</p>
            <p>{{movie.rated}}</p>
          </div>
        </div>

        <p class="s-plot">{{movie.plot}}</p>
        <p>
          Starring
          <span *ngFor="let cast of movie.cast">
            <a routerLink="/celebrity/{{cast}}">{{cast}}, </a>
          </span>
        </p>
        <p>
          Director
          <span *ngFor="let direct of movie.director">
            <a routerLink="/celebrity/{{direct}}">{{direct}}, </a>
          </span>

        </p>
        <p>
          Genres
          <span *ngFor="let genres of movie.genres">
            <a routerLink="/search" [queryParams]="{table:'movie', search:genres}">{{genres}}, </a>
          </span>
        </p>
      </div>
      <p class="item_bottom_divide" *ngIf="(index< (movieLineCount-1))"></p>
    </div>
    <div class="view-more">
      <a routerLink="/search/movie" [queryParams]="{keyword:keywordParam}">More Movies...</a>
    </div>
  </div>



  <div class="container tv_results" *ngIf="tvSearchCount>0">
      <h4 class="bottom_divide">TV</h4>
    <div class="row s-item"  *ngFor="let tv of tvResults, let index = index">
      <div class="col-4 s_img-wrap">
        <img src="{{tv.poster}}"
             alt="">
      </div>
      <div class="col-7">
        <p class="s-item__title">{{tv.title}}e</p>

        <div class="flex">
          <div *ngIf="tv.rating==0">
            No Ratings
            <p>{{tv.rated}}</p>
          </div>

          <div *ngIf="tv.rating>0&& tv.rating<1">
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <p>{{tv.rating}}/5.0</p>
            <p>{{tv.rated}}</p>
          </div>

          <div *ngIf="tv.rating==1">
            <i class="fa fa-star" ></i>
            <p>{{tv.rating}}/5.0</p>
            <p>{{tv.rated}}</p>
          </div>

          <div *ngIf="tv.rating>1&& tv.rating<2">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <p>{{tv.rating}}/5.0</p>
            <p>{{tv.rated}}</p>
          </div>

          <div *ngIf="tv.rating==2">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star"></i>
            <p>{{tv.rating}}/5.0</p>
            <p>{{tv.rated}}</p>
          </div>

          <div *ngIf="tv.rating>2&& tv.rating<3">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <p>{{tv.rating}}/5.0</p>
            <p>{{tv.rated}}</p>
          </div>

          <div *ngIf="tv.rating==3">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <p>{{tv.rating}}/5.0</p>
            <p>{{tv.rated}}</p>
          </div>

          <div *ngIf="tv.rating>3&& tv.rating<4">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <p>{{tv.rating}}/5.0</p>
            <p>{{tv.rated}}</p>
          </div>

          <div *ngIf="tv.rating==4">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <p>{{tv.rating}}/5.0</p>
            <p>{{tv.rated}}</p>
          </div>

          <div *ngIf="tv.rating>4&& tv.rating<5">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <p>{{tv.rating}}/5.0</p>
            <p>{{tv.rated}}</p>
          </div>

          <div *ngIf="tv.rating==5">
            <i class="fa fa-star" ></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <p>{{tv.rating}}/5.0</p>
            <p>{{tv.rated}}</p>
          </div>
        </div>

        <p class="s-plot">{{tv.plot}} </p>
        <p>
          Starring
          <span *ngFor="let cast of tv.cast">
            <a routerLink="/celebrity/{{cast.celebrityId}}">{{cast}}, </a>
          </span>
        </p>
        <p>
          Genres
          <span *ngFor="let genres of tv.genres">
            <a routerLink="/search" [queryParams]="{table:'tv', search:genres}">{{genres}}, </a>
          </span>
        </p>
      </div>
      <p class="item_bottom_divide" *ngIf="(index< (tvLineCont-1))"></p>
    </div>
    <div class="view-more">
      <a routerLink="/search/tv" [queryParams]="{keyword:keywordParam}">More TV...</a>
    </div>
  </div>


  <div class="container people_results"  *ngIf="celebritySearchCount>0">
    <h4 class="bottom_divide">CELEBRITIES</h4>
    <div class="row s-item" *ngFor="let celebrity of celebritiesResults, let index = index">
      <div class="col-4 s_img-wrap">
        <img src="{{celebrity.poster}}"
             alt="" routerLink="/celebrity/{{celebrity.celebrityId}}">
      </div>
      <div class="col-7">
        <a class="s-item__title" routerLink="/celebrity/{{celebrity.celebrityId}}">{{celebrity.name}}</a>
        <p class="s-item__bio">{{celebrity.biography}}</p>
        <p class="s-item__birth">
          Born in:
          <span class="actor_birth_date">{{celebrity.yearOfBirth}}</span>
          <br>
          Birth Place:
          <span class="actor_birth_date">{{celebrity.locationOfBirth}}</span>
        </p>
      </div>
      <p class="item_bottom_divide" *ngIf="(index< (celebrityLineCount-1))"></p>
    </div>
    <div class="view-more">
      <a routerLink="/search/celebrity" [queryParams]="{keyword:keywordParam}">More Celebrities...</a>
    </div>
  </div>
</main>

</body>

</html>
