<!--  sidebar: movies category  -->
<div class="col-3.5 sidebar">
  <ul class="s-explore">
    <!--     in theaters -->
    <li class="s-explore__title"><h3>In Theaters</h3></li>
    <li class="s-explore__item"><a href="" routerLinkActive="active" routerLink="/movies/opening_this_week">Opening This Week</a></li>
    <li class="s-explore__item"><a href="" routerLinkActive="active" routerLink="/movies/top_box_office">Top Box Office</a></li>
    <li class="s-explore__item"><a href="" routerLinkActive="active" routerLink="/movies/coming_soon">Coming Soon</a></li>
    <li class="s-explore__item"><a href="" routerLinkActive="active" routerLink="/movies/certified_fresh_movie">Certified Fresh Movie</a></li>
    <!--&lt;!&ndash;     dvds &ndash;&gt;-->
    <!--<li class="s-explore__title"><h3>dvd & streaming movies</h3></li>-->
    <!--<li class="s-explore__item"><a href="#">browser all</a></li>-->
    <!--<li class="s-explore__item"><a href="#">top DVD & streaming</a></li>-->
    <!--<li class="s-explore__item"><a href="#">coming soon</a></li>-->
    <!--<li class="s-explore__item"><a href="#">certified fresh movies</a></li>-->
    <br>
    <!--     tv -->
    <li class="s-explore__title"><h3>TV</h3></li>
    <li class="s-explore__item"><a href="" routerLinkActive="active" routerLink="/movies/new_tv_tonight">New TV Tonight</a></li>
    <li class="s-explore__item"><a href="" routerLinkActive="active" routerLink="/movies/most_popular_tv">Most Popular TV on CP</a></li>
    <li class="s-explore__item"><a href="" routerLinkActive="active" routerLink="/movies/certified_fresh_tv">Certified Fresh TV</a></li>
    <br>
    <!--more-->
    <li class="s-explore__title"><h3>Explore More</h3></li>
    <li class="s-explore__item"><a href="" routerLinkActive="active" routerLink="/movies/academy_award">Academy Award</a></li>
    <li class="s-explore__item"><a href="" routerLinkActive="active" routerLink="/movies/top_rated_movie">Top Rated Movies</a></li>
    <li class="s-explore__item"><a href="" routerLinkActive="active" routerLink="/movies/top_rated_tv">Top Rated TV</a></li>
  </ul>

  <!--  2nd box : you may like  -->
  <!--<ul class="s-explore">-->
  <!--&lt;!&ndash;     in theaters &ndash;&gt;-->
  <!--<li class="s-explore__title"><h3>You may like</h3></li>-->
  <!--<li class="s-explore__item"><a href="#">Blade Runner 2049</a><span-->
  <!--class="s-explore__rating">4.9/5.0</span></li>-->
  <!--<li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span></li>-->
  <!--<li class="s-explore__item"><a href="#">Call Me By Your Name</a><span-->
  <!--class="s-explore__rating">4.9/5.0</span></li>-->
  <!--<li class="s-explore__item"><a href="#">Lady Bird</a><span class="s-explore__rating">4.9/5.0</span></li>-->
  <!--<li class="s-explore__item"><a href="#">Blade Runner 2049</a><span-->
  <!--class="s-explore__rating">4.9/5.0</span></li>-->
  <!--<li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span></li>-->
  <!--<li class="s-explore__item"><a href="#">Call Me By Your Name</a><span-->
  <!--class="s-explore__rating">4.9/5.0</span></li>-->
  <!--<li class="s-explore__item"><a href="#">Lady Bird</a><span class="s-explore__rating">4.9/5.0</span></li>-->
  <!--<li class="s-explore__item"><a href="#">Blade Runner 2049</a><span-->
  <!--class="s-explore__rating">4.9/5.0</span></li>-->
  <!--<li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span></li>-->
  <!--<li class="s-explore__item"><a href="#"><span style="color: white;">more <i-->
  <!--class="fa fa-angle-right"></i></span></a></li>-->
  <!--</ul>-->


</div> <!-- ./end left panel -->
