.general_container{
  width: 80%;
}

body{
  font-size: 14px;
  color: white;
}

.general_container{
  padding: 5%;
}

ul{
  padding-left: 6%;
  margin: 1%;
}
li{
  list-style-type: circle;
}

a{
  color:#337ab7;
}

a:hover{
  color: #007bff;
}
