<html>
<body>
  <main>

    <div class="container">
      <div class="row">
        <span class="bckg"></span>
        <header class="col-sidebar sidebar">

          <h1>Dashboard</h1>
          <nav>
            <ul>
              <li>
                <a href="javascript:void(0);" data-title="Users" id="manage-user">Manage Users</a>
              </li>
              <li>
                <a href="javascript:void(0);" data-title="Movies" id="manage-movies">Manage Movies</a>
              </li>
              <li>
                <a href="javascript:void(0);" data-title="Reviews" id="manage-reviews">Manage Reviews</a>
              </li>
              <li>
                <a href="javascript:void(0);" data-title="Carousel" id="manage-carousel">Manage Carousel</a>
              </li>
              <li>
                <a href="javascript:void(0);" data-title="Celebrities" id="manage-celebrities">Manage Celebrities</a>
              </li>
              <li>
                <a href="javascript:void(0);" data-title="Critic Application" id="manage-application">Critic Application</a>
              </li>
              <li>
                <a href="javascript:void(0);" data-title="Settings">Settings</a>
              </li>
            </ul>
          </nav>
        </header>
        <div class="col-main-panel main-panel">
          <div class="title">
            <h2>Dashboard</h2>
            <a href="javascript:void(0);">Hello Melanie !</a>
          </div>

          <div class="container mp-users">

            <div class="row mp-users__item">
              <h3 class="col-users-title">User 1 </h3>
              <button class="col-users-item">Suspend</button>
            </div>

            <div class="row mp-users__item">
              <h3 class="col-users-title">User 2 </h3>
              <button class="col-users-item">Suspend</button>
            </div>
            <div class="row mp-users__item">
              <h3 class="col-users-title">User 3 </h3>
              <button class="col-users-item">Suspend</button>
            </div>
          </div>

          <div class="container mp-movies">
            <button class="">Create New</button>
            <div class="row mp-movies__item">
              <h3 class="col-movies-title">Movie 1 <span class="entypo-down-open"></span></h3>
              <button class="col-movies-item">Update</button>
              <button class="col-movies-item">Delete</button>
            </div>
            <div class="row mp-movies__item">
              <h3 class="col-movies-title">Movie 2 <span class="entypo-down-open"></span></h3>
              <button class="col-movies-item">Update</button>
              <button class="col-movies-item">Delete</button>
            </div>
            <div class="row mp-movies__item">
              <h3 class="col-movies-title">Movie 3 <span class="entypo-down-open"></span></h3>
              <button class="col-movies-item">Update</button>
              <button class="col-movies-item">Delete</button>
            </div>
          </div>

          <div class="container mp-reviews">
            <div class="row mp-reviews__item">
              <h3 class="col-reviews-title">Review 1 <span class="entypo-down-open"></span></h3>
              <button class="col-reviews-item">Delete</button>
            </div>
            <div class="row mp-reviews__item">
              <h3 class="col-reviews-title">Review 2 <span class="entypo-down-open"></span></h3>
              <button class="col-reviews-item">Delete</button>
            </div>
            <div class="row mp-reviews__item">
              <h3 class="col-reviews-title">Review 3 <span class="entypo-down-open"></span></h3>
              <button class="col-reviews-item">Delete</button>
            </div>
          </div>

          <div class="container mp-carousel">
            <div class="row mp-carousel__item">
              <h3 class="col-carousel-title">Slide 1 <span class="entypo-down-open"></span></h3>
              <button class="col-carousel-item">Update</button>
              <button class="col-carousel-item">Delete</button>
            </div>
            <div class="row mp-carousel__item">
              <h3 class="col-carousel-title">Slide 2 <span class="entypo-down-open"></span></h3>
              <button class="col-carousel-item">Update</button>
              <button class="col-carousel-item">Delete</button>
            </div>
            <div class="row mp-carousel__item">
              <h3 class="col-carousel-title">Slide 3 <span class="entypo-down-open"></span></h3>
              <button class="col-carousel-item">Update</button>
              <button class="col-carousel-item">Delete</button>
            </div>
            <div class="row mp-carousel__item">
              <h3 class="col-carousel-title">Slide 4 <span class="entypo-down-open"></span></h3>
              <button class="col-carousel-item">Update</button>
              <button class="col-carousel-item">Delete</button>
            </div>
            <div class="row mp-carousel__item">
              <h3 class="col-carousel-title">Slide 5 <span class="entypo-down-open"></span></h3>
              <button class="col-carousel-item">Update</button>
              <button class="col-carousel-item">Delete</button>
            </div>
          </div>

          <div class="container mp-application">
            <div class="row mp-application__item">
              <h3 class="col-application-title">Application 1 <span class="entypo-down-open"></span></h3>
              <button class="col-application-item">Approve</button>
              <button class="col-application-item">Decline</button>
            </div>
            <div class="row mp-application__item">
              <h3 class="col-application-title">Application 2 <span class="entypo-down-open"></span></h3>
              <button class="col-application-item">Approve</button>
              <button class="col-application-item">Decline</button>
            </div>
            <div class="row mp-application__item">
              <h3 class="col-application-title">Application 3 <span class="entypo-down-open"></span></h3>
              <button class="col-application-item">Approve</button>
              <button class="col-application-item">Decline</button>
            </div>

          </div>

          <div class="container mp-celebrity">
            <button class="">Create New</button>
            <div class="row mp-celebrity__item">
              <h3 class="col-celebrity-title">Celebrity 1 <span class="entypo-down-open"></span></h3>
              <button class="col-celebrity-item">Update</button>
              <button class="col-celebrity-item">Delete</button>
            </div>
            <div class="row mp-celebrity__item">
              <h3 class="col-celebrity-title">Celebrity 2 <span class="entypo-down-open"></span></h3>
              <button class="col-celebrity-item">Update</button>
              <button class="col-celebrity-item">Delete</button>
            </div>
            <div class="row mp-celebrity__item">
              <h3 class="col-celebrity-title">Celebrity 3 <span class="entypo-down-open"></span></h3>
              <button class="col-celebrity-item">Update</button>
              <button class="col-celebrity-item">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <!--./row-->
    </div>
    <!--./container-->
  </main>
</body>
</html>
