<html>
<header>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</header>
<body>
<main>
  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-black w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">

      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey"
         title="close menu">
        <i class="fa fa-remove"></i>
      </a>

      <img src="{{profile_url}}"
           style="width:45%;"
           id="profile_image"
           class="w3-round"
           (click)="open(content)">

      <br><br>

      <h4>

        <div *ngIf="profile.isCritic; else userProfile">
          <p class="w3-text-blue">Critic</p>
        </div>

        <ng-template #userProfile>
          <p class="w3-text-blue">User</p>
        </ng-template>

        <b>{{profile.name}}</b>
      </h4>
      <p class="w3-text-gray">A critic user, happy everyday</p>
    </div>
    <div class="w3-bar-block">
      <div *ngIf="!status; else elseBlock">
      <a class="show_Account w3-bar-item w3-button w3-padding w3-text-black w3-sand" (click)="notice()"><i
        class="fa fa-users fa-fw w3-margin-right"></i>+ Follow</a>
      </div>
      <ng-template #elseBlock>
        <div  *ngIf ="inFollower; else addFollower">
          <a class="show_Account w3-bar-item w3-button w3-padding w3-text-black w3-light-blue" (click)="deFollowUser()"><i
            class="fa fa-users fa-fw w3-margin-right"></i>- Follow</a>
        </div >
        <ng-template #addFollower >
          <a class="show_Account w3-bar-item w3-button w3-padding w3-text-black w3-sand" (click)="followUser()"><i
            class="fa fa-users fa-fw w3-margin-right"></i>+ Follow</a>
        </ng-template>
      </ng-template>
    </div>

  </nav>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
       title="close side menu" id="myOverlay"></div>
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px">


    <div class="w3-container">
      <div class="w3-section w3-bottombar w3-padding-large">
        <button class="show_Summary w3-button w3-black" (click)="showDiv(1)">
          <i class="fa fa-home w3-margin-right"></i>Summary
        </button>
        <button class="show_Movie_Ratings w3-button w3-white w3-hide-small" aria-hidden="true" (click)="showDiv(2)">
          <i class="fa fa-film w3-margin-right"></i>Movie Ratings
        </button>

        <button class="show_Wish_List w3-button w3-white w3-hide-small" aria-hidden="true" (click)="showDiv(3)">
          <i class="fa fa-heart w3-margin-right"></i>Want To See
        </button>
        <button class="show_Movie_List w3-button w3-white w3-hide-small" aria-hidden="true" (click)="showDiv(4)">
          <i class="fa fa-list-alt w3-margin-right"></i>Not Interest
        </button>
        <button class="show_My_Critics w3-button w3-white w3-hide-small" aria-hidden="true" (click)="showDiv(5)">
          <i class="fa fa-comment w3-margin-right"></i>User Reviews
        </button>
        <button class="show_My_Critics w3-button w3-white w3-hide-small" aria-hidden="true" (click)="showDiv(6)">
          <i class="fa fa-users w3-margin-right"></i>User Follow/ers
        </button>
      </div>
    </div>

    <br>

    <div class="container Summary_results" *ngIf="currentIndex === 1">
      <div class="w3-container w3-padding-large w3-black">
        <form target="_blank">
          <div class="w3-container w3-padding-large" style="margin-bottom:32px">
            <h4><b>About User</b></h4>
            <p>{{profile.biography}}</p>
            <hr>
          </div>
        </form>
      </div>
      <section class="l-cards">
        <h2 class="md-title"><span>User Want To See Movies</span></h2>

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of whishlistMovies| slice:0:5">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>

      <section class="l-cards">
        <h2 class="md-title"><span>User Not Interest Movies</span></h2>

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of watchlistMovies| slice:0:5">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>

      <section class="l-cards">
        <h2 class="md-title"><span>Rating History</span></h2>
        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of ratedMovieList| slice:0:5">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="container Movie_Ratings_results" *ngIf="currentIndex === 2">
      <section class="l-cards">
        <h2 class="md-title"><span>Rated Movies</span></h2>
        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of ratedMovieList| slice:0:5">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
      <section class="l-cards">
        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of ratedMovieList| slice:5:10">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
      <section class="l-cards">
        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of ratedMovieList| slice:10:15">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="container Wish_List_results" *ngIf="currentIndex === 3">
      <section class="l-cards">
        <h2 class="md-title"><span>My Want To See Movies</span></h2>
        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of whishlistMovies| slice:0:5">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
      <section class="l-cards">
        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of whishlistMovies| slice:5:10">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
      <section class="l-cards">
        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of whishlistMovies| slice:10:15">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>

      <section class="l-cards">
        <h2 class="md-title"><span>My Want To See Tvs</span></h2>

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of whishlistTvs| slice:0:5">
            <a routerLink="/tv/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/tv/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
      <section class="l-cards">

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of whishlistTvs| slice:5:10">
            <a routerLink="/tv/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/tv/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
      <section class="l-cards">

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of whishlistTvs| slice:10:15">
            <a routerLink="/tv/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/tv/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="container Movie_List_results" *ngIf="currentIndex === 4">
      <section class="l-cards">
        <h2 class="md-title"><span>My Not Interest Movies</span></h2>

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of watchlistMovies| slice:0:5">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
      <section class="l-cards">

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of watchlistMovies| slice:5:10">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
      <section class="l-cards">

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of watchlistMovies| slice:10:15">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>

      <section class="l-cards">
        <h2 class="md-title"><span>My Not Interest Tvs</span></h2>

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of watchlistTvs| slice:0:5">
            <a routerLink="/tv/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/tv/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
      <section class="l-cards">

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of watchlistTvs| slice:5:10">
            <a routerLink="/tv/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/tv/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
      <section class="l-cards">

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of watchlistTvs| slice:10:15">
            <a routerLink="/tv/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/tv/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="container My_Critics_results" *ngIf="currentIndex === 5">
      <div class="w3-container w3-padding-large w3-black">
        <h2 class="md-title"><span>User Reviews</span></h2>


        <div class="testimonial" *ngFor="let review of reviews">
          <hr class="w3-opacity">
          <a routerLink="/movie/{{review.imdbId}}" (click)="setImdbId(review.imdbId)" routerLinkActive="active">Review of {{review.movieTitle}}</a>

          <div class="testimonial-content">
            <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
            </div>

            <div class="l_description">
              <p class="description">{{review.reviewContent}}
              </p>
            </div>
          </div>
          <div class="show_more w3-margin-right">
          </div>
        </div>
      </div>
    </div>
    <div class="container Movie_List_results" *ngIf="currentIndex === 6">
      <section class="l-cards">
        <h2 class="md-title"><span>My Follow</span></h2>

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let follow of followerProfiles| slice:0:5">
            <a routerLink="/userView/{{follow.id}}">
              <img src="{{profile_url}}"
                   class="w3-round">
            </a>
            <a routerLink="/userView/{{follow.id}}">
              {{follow.name}}
            </a>
          </li>
        </ul>
      </section>
      <section class="l-cards">

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let follow of followerProfiles| slice:5:10">
            <a routerLink="/userView/{{follow.id}}">
              <img src="{{profile_url}}"
                   class="w3-round">
            </a>
            <a routerLink="/userView/{{follow.id}}">
              {{follow.name}}
            </a>
          </li>
        </ul>
      </section>
      <section class="l-cards">

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let follow of followerProfiles| slice:10:15">
            <a routerLink="/userView/{{follow.id}}">
              <img src="{{profile_url}}"
                   class="w3-round">
            </a>
            <a routerLink="/userView/{{follow.id}}">
              {{follow.name}}
            </a>
          </li>
        </ul>
      </section>

      <section class="l-cards">
        <h2 class="md-title"><span>My Followers</span></h2>

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let follow of followYouProfiles| slice:0:5">
            <a routerLink="/userView/{{follow.id}}">
              <img src="{{profile_url}}"
                   class="w3-round">
            </a>
            <a routerLink="/userView/{{follow.id}}">
              {{follow.name}}
            </a>
          </li>
        </ul>
      </section>
      <section class="l-cards">

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let follow of followYouProfiles| slice:5:10">
            <a routerLink="/userView/{{follow.id}}">
              <img src="{{profile_url}}"
                   class="w3-round">
            </a>
            <a routerLink="/userView/{{follow.id}}">
              {{follow.name}}
            </a>
          </li>
        </ul>
      </section>
      <section class="l-cards">

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let follow of followYouProfiles| slice:10:15">
            <a routerLink="/userView/{{follow.id}}">
              <img src="{{profile_url}}"
                   class="w3-round">
            </a>
            <a routerLink="/userView/{{follow.id}}">
              {{follow.name}}
            </a>
          </li>
        </ul>
      </section>
    </div>




    <hr class="w3-opacity">

    <!-- 	Recommend section	 -->
    <section class="l-cards">
      <h2 class="l-cards__title">Recommended For Me</h2>
      <ul class="l-cards__list">
        <li class="l-cards__item">
          <a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a>
        </li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
      </ul>
    </section>
    <!-- 	end Recommend section	 -->

  </div>
</main>
</body>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Change Profile Image</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      This is the uploading images section
    </p>

    <input type="file" (change)="upload($event)" required class="form-control " name="attach_file" id="attach_file">

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

</html>




