<html>
<body>
<main>
  <div class="container">
    <div class="row">
      <!--  sidebar: movies category  -->
      <div class="col-3.5 sidebar">
          <ul class="s-explore">
            <!--     in theaters -->
            <li class="s-explore__title"><h3>In Theaters</h3></li>
            <li class="s-explore__item"><a href="#">Opening This Week</a></li>
            <li class="s-explore__item"><a href="#">Top Box Office</a></li>
            <li class="s-explore__item"><a href="#">Coming soon</a></li>
            <li class="s-explore__item"><a href="#">Top Rated Movies</a></li>

            <!--&lt;!&ndash;     dvds &ndash;&gt;-->
            <!--<li class="s-explore__title"><h3>dvd & streaming movies</h3></li>-->
            <!--<li class="s-explore__item"><a href="#">browser all</a></li>-->
            <!--<li class="s-explore__item"><a href="#">top DVD & streaming</a></li>-->
            <!--<li class="s-explore__item"><a href="#">coming soon</a></li>-->
            <!--<li class="s-explore__item"><a href="#">certified fresh movies</a></li>-->

            <!--     tv -->
            <li class="s-explore__title"><h3>TV</h3></li>
            <li class="s-explore__item"><a href="#">New TV Tonight</a></li>
            <li class="s-explore__item"><a href="#">Most Popular TV on CP</a></li>
            <li class="s-explore__item"><a href="#">Top Rated TV</a></li>

          </ul>

          <!--  2nd box : you may like  -->
          <!--<ul class="s-explore">-->
            <!--&lt;!&ndash;     in theaters &ndash;&gt;-->
            <!--<li class="s-explore__title"><h3>You may like</h3></li>-->
            <!--<li class="s-explore__item"><a href="#">Blade Runner 2049</a><span-->
              <!--class="s-explore__rating">4.9/5.0</span></li>-->
            <!--<li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span></li>-->
            <!--<li class="s-explore__item"><a href="#">Call Me By Your Name</a><span-->
              <!--class="s-explore__rating">4.9/5.0</span></li>-->
            <!--<li class="s-explore__item"><a href="#">Lady Bird</a><span class="s-explore__rating">4.9/5.0</span></li>-->
            <!--<li class="s-explore__item"><a href="#">Blade Runner 2049</a><span-->
              <!--class="s-explore__rating">4.9/5.0</span></li>-->
            <!--<li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span></li>-->
            <!--<li class="s-explore__item"><a href="#">Call Me By Your Name</a><span-->
              <!--class="s-explore__rating">4.9/5.0</span></li>-->
            <!--<li class="s-explore__item"><a href="#">Lady Bird</a><span class="s-explore__rating">4.9/5.0</span></li>-->
            <!--<li class="s-explore__item"><a href="#">Blade Runner 2049</a><span-->
              <!--class="s-explore__rating">4.9/5.0</span></li>-->
            <!--<li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span></li>-->
            <!--<li class="s-explore__item"><a href="#"><span style="color: white;">more <i-->
              <!--class="fa fa-angle-right"></i></span></a></li>-->
          <!--</ul>-->


       </div> <!-- ./end left panel -->

      <!--  right panel -->
      <div class="col-5 content-wrap">

        <!-- 	1st section 	 Opening this week-->
        <div class="l-cards" id="opening_this_week">
          <div class="my_header">
            <h2 class="l-cards__title">Opening this week </h2>
            <a class="l-cards__more" href="#">By Date</a>
            <a class="l-cards__more" href="#">By Ratings</a>
          </div>
          <ul class="l-cards__list">
            <li class="l-cards__item">
              <a routerLink="/movie-detail" class="l-cards__image fill"></a>
              <a href="#" class="l-cards__text"></a>
            </li>
          </ul>
          <!--   pagination   -->
          <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" class="pagination" ></ngb-pagination>
        </div>

        <!-- 	2nd section 	 top box office-->
        <div class="l-cards" id="top_box_office">
          <div class="my_header">
            <h2 class="l-cards__title">Top Box Office </h2>
            <a class="l-cards__more" href="#">By Date</a>
            <a class="l-cards__more" href="#">By Ratings</a>
          </div>
          <!-- 1st row -->
          <ul class="l-cards__list">
            <li class="l-cards__item">
              <a routerLink="/movie-detail" class="l-cards__image fill"></a>
              <a href="#" class="l-cards__text"></a>
            </li>
          </ul> <!-- ./first row -->
          <!--   pagination   -->
          <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" class="pagination" ></ngb-pagination>
        </div>

        <!-- 	3rd section 	 coming soon-->
        <div class="l-cards" id="coming_soon">
          <div class="my_header">
            <h2 class="l-cards__title">Coming Soon</h2>
            <a class="l-cards__more" href="#">By Date</a>
            <a class="l-cards__more" href="#">By Ratings</a>
          </div>
          <!-- 1st row -->
          <ul class="l-cards__list">
            <li class="l-cards__item">
              <a routerLink="/movie-detail" class="l-cards__image fill"></a>
              <a href="#" class="l-cards__text"></a>
            </li>
          </ul> <!-- ./first row -->
          <!--   pagination   -->
          <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" class="pagination" ></ngb-pagination>
        </div>


        <div class="l-cards" id="top_rated_movies">
          <div class="my_header">
            <h2 class="l-cards__title">Top Rated Movies</h2>
            <a class="l-cards__more" href="#">By Date</a>
            <a class="l-cards__more" href="#">By Ratings</a>
          </div>
          <!-- 1st row -->
          <ul class="l-cards__list">
            <li class="l-cards__item">
              <a routerLink="/movie-detail" class="l-cards__image fill"></a>
              <a href="#" class="l-cards__text"></a>
            </li>
          </ul> <!-- ./first row -->
          <!--   pagination   -->
          <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" class="pagination" ></ngb-pagination>
        </div>

        <div class="l-cards" id="new_tv_tonight">
          <div class="my_header">
            <h2 class="l-cards__title">New TV Tonight</h2>
          </div>
          <!-- 1st row -->
          <ul class="l-cards__list">
            <li class="l-cards__item">
              <a routerLink="/movie-detail" class="l-cards__image fill"></a>
              <a href="#" class="l-cards__text"></a>
            </li>
          </ul> <!-- ./first row -->
          <!--   pagination   -->
          <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" class="pagination" ></ngb-pagination>
        </div>

        <div class="l-cards" id="most_popular_tv_on_cp">
          <div class="my_header">
            <h2 class="l-cards__title">Most Popular TV on CP</h2>
          </div>
          <!-- 1st row -->
          <ul class="l-cards__list">
            <li class="l-cards__item">
              <a routerLink="/movie-detail" class="l-cards__image fill"></a>
              <a href="#" class="l-cards__text"></a>
            </li>
          </ul> <!-- ./first row -->
          <!--   pagination   -->
          <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" class="pagination" ></ngb-pagination>
        </div>

        <div class="l-cards" id="top_rated_tv">
          <div class="my_header">
            <h2 class="l-cards__title">Top Rated TV</h2>
          </div>
          <!-- 1st row -->
          <ul class="l-cards__list">
            <li class="l-cards__item">
              <a routerLink="/movie-detail" class="l-cards__image fill"></a>
              <a href="#" class="l-cards__text"></a>
            </li>
          </ul> <!-- ./first row -->
          <!--   pagination   -->
          <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" class="pagination" ></ngb-pagination>
        </div>



      </div> <!-- ./end right panel -->

    </div> <!-- ./row -->
  </div> <!-- ./container -->

</main>
</body>
</html>
