<html>
<body>
<main>
  <div class="container">
    <div class="row">
      <!--  sidebar: movies category  -->
  <div class="col-3.5 sidebar">
      <ul class="s-explore">
        <!--     in theaters -->
        <li class="s-explore__title"><h3>In Theaters</h3></li>
        <li class="s-explore__item active"><a href="#">opening this week</a></li>
        <li class="s-explore__item"><a href="#">top box office</a></li>
        <li class="s-explore__item"><a href="#">coming soon</a></li>
        <li class="s-explore__item"><a href="#">certified fresh movies</a></li>

        <!--     dvds -->
        <li class="s-explore__title"><h3>dvd & streaming movies</h3></li>
        <li class="s-explore__item"><a href="#">browser all</a></li>
        <li class="s-explore__item"><a href="#">top DVD & streaming</a></li>
        <li class="s-explore__item"><a href="#">coming soon</a></li>
        <li class="s-explore__item"><a href="#">certified fresh movies</a></li>

        <!--     tv -->
        <li class="s-explore__title"><h3>TV</h3></li>
        <li class="s-explore__item"><a href="#">new TV tonight</a></li>
        <li class="s-explore__item"><a href="#">most popular tv on RT</a></li>
        <li class="s-explore__item"><a href="#">certified fresh TV</a></li>

      </ul>

      <!--  2nd box  -->
      <ul class="s-explore">
        <!--     in theaters -->
        <li class="s-explore__title"><h3>You may like</h3></li>
        <li class="s-explore__item"><a href="#">Blade Runner 2049</a><span
          class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Call Me By Your Name</a><span
          class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Lady Bird</a><span class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Blade Runner 2049</a><span
          class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Call Me By Your Name</a><span
          class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Lady Bird</a><span class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Blade Runner 2049</a><span
          class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#"><span style="color: white;">more <i
          class="fa fa-angle-right"></i></span></a></li>
      </ul>


    </div> <!-- ./end left panel -->

    <!--  right panel -->
    <div class="col-5 content-wrap">

      <!-- 	1st section	 -->
      <div class="l-cards">
        <h2 class="l-cards__title">opening this week </h2>
        <a class="l-cards__more" href="#">By Date</a>
        <a class="l-cards__more" href="#">By Ratings</a>
        <!-- 			<a class="l-cards__more"href="#"><i class="fa fa-list"></i>
        </a>
              <a class="l-cards__more"href="#">  <i class="fa fa-th-large"></i> -->
        <!--</a>-->

        <!-- 1st row -->
        <ul class="l-cards__list">
          <li class="l-cards__item">
            <a routerLink="/movie-detail" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a>
          </li>

          <li class="l-cards__item" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a></li>

          <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a></li>

          <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a></li>

          <!--<li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>-->
            <!--<a href="#" class="l-cards__text"></a></li>-->


        </ul> <!-- ./first row -->

        <!-- 2nd row -->
        <ul class="l-cards__list">
          <li class="l-cards__item">
            <a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a>
          </li>

          <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a></li>

          <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a></li>

          <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a></li>

          <!--<li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>-->
            <!--<a href="#" class="l-cards__text"></a></li>-->


        </ul> <!-- ./2nd row -->

        <!-- 3rd row -->
        <ul class="l-cards__list">
          <li class="l-cards__item">
            <a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a>
          </li>

          <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a></li>

          <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a></li>

          <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a></li>

          <!--<li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>-->
            <!--<a href="#" class="l-cards__text"></a></li>-->


        </ul> <!-- ./3rd row -->

        <!-- 4th row -->
        <ul class="l-cards__list">
          <li class="l-cards__item">
            <a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a>
          </li>

          <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a></li>

          <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a></li>

          <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a></li>

          <!--<li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>-->
            <!--<a href="#" class="l-cards__text"></a></li>-->


        </ul> <!-- ./4th row -->
      </div>

      <!--   pagination   -->
      <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" class="pagination" ></ngb-pagination>

    </div> <!-- ./end right panel -->

    </div> <!-- ./row -->
    </div> <!-- ./container -->

</main>
</body>
</html>
