
<body>

<main>
  <div class="general_container">
    <h4>ABOUT CINEMA PARADISO</h4>
    <p>Cinema Paradiso is a 1988 Italian drama film written and directed by Giuseppe Tornatore.
      The film stars Jacques Perrin, Philippe Noiret, Leopoldo Trieste, Marco Leonardi, Agnese Nano and Salvatore Cascio, and was produced by Franco Cristaldi and Giovanna Romagnoli, while the music score was composed by Ennio Morricone along with his son, Andrea.
      It won the Academy Award for Best Foreign Language Film at the 62nd Academy Awards.</p>
    <br>
    <p>We name our cap-stone project "Cinema Paradiso" in honour of this great movie.</p>
    <br>
    <p class="border-bottom"></p>
    <br>
    <h5>WHAT IS CERTIFIED FRESH?</h5>
    <p>Certified Fresh status is a special distinction awarded to the best-reviewed movies and TV shows. In order to qualify, movies or TV shows must meet the following requirements:</p>
    <ul class="general_list">
      <li>A steady Rating of 3.5 or higher.</li>
      <li>Films must have a minimum of 80 reviews.</li>
      <li>TV in must have a minimum of 25 reviews.</li>
    </ul>
    <p>A movie or TV show that reaches the requirements for Certified Fresh doesn't immediately receive the designation. Instead, it is automatically flagged for our staff's consideration. Once the team can determine that it's unlikely the score will drop below the minimum requirements, they will mark it Certified Fresh.</p>
    <br>
    <p>If the rating drops below 3.5, then the movie or TV show will lose its Certified Fresh status.</p>
  </div>
</main>
</body>
