/* You can add global styles to this file, and also import other style files */

// TODO reduce font-awesome.css size
// @import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css";
@import '~bootstrap/scss/bootstrap.scss';
@import "~ngx-toastr/toastr-bs4-alert";

$color-red: rgb(229, 9, 20);
$color-light-red: #e8716d;
html{
  font-size: 1.2em;
  line-height: 1.3;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  //background-color: lighten(black, 11%);
}

*, *:before, *:after{
  box-sizing: inherit;
}
body {
  background-color: lighten(black, 11%);
  //background: url("https://goo.gl/YRxqs1") no-repeat center;
  //background-size: cover;
}
header, footer, main {
  width: 1100px;
  margin: 0 auto;
  background-color: lighten(black, 3%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-shadow: 0 12px 15px 0 rgba(black, 0.25);
}
body, h1, ul, p{
  margin: 0;
}

ul{
  padding: 0;
}

li{
  list-style-type: none;
}

img{
  width: 100%;
  height: auto;
  vertical-align: top;
}

a{
  text-decoration: none !important;
  color: white;
}

