
<body>

<main>
  <div class="general_container">
    <h5>CRITIC APPLICATION</h5>
    <p>Please follow the instructions below to apply to become an approved Cinema Paradiso Critic.</p>
    <ul class="general_list">
      <li>Register for a Cinema Paradiso account if you haven't already. Click <a routerLinkActive="active" class="trigger" href="javascript:;">here</a> to register. This is a required step.</li>
      <li>Send an email to <a href="mailto:CinemaParadiso308@gmail.com?Subject=Film Critic Submission Application">CinemaParadiso308@gmail.com</a> with the subject Film Critic Submission Application and the following information:</li>
      <ul>
        <li>Your Name</li>
        <li>Your Email Address</li>
        <li>Source Name (publications, web site, TV/radio station)</li>
        <li>Source URL</li>
        <li>URL to an index of your film reviews</li>
        <li>URLs to at least three film reviews you've authored</li>
        <li>Critics Society or Association</li>
        <li>Email address you registered with</li>
      </ul>
    </ul>
    <p>Questions? <a routerLink="/contact">Contact us here</a>.</p>
    <br>
    <p class="border-bottom"></p>
    <br>
    <h5>SOURCE ADMINISTRATION APPLICATION</h5>
    <p>Editors and webmasters of publications which are already contributing the Rating System are encouraged to apply for "source administration" privileges.
      Once authorized, editors may log into Rotten Tomatoes in order to add, edit, or delete articles and reviews from their publication on Cinema Paradiso.
      This allows editors to maintain their listings on Cinema Paradiso for multiple authors.</p>
    <br>
    <p>Please follow the below instruction to apply:</p>
    <ul class="general_list">
      <li>Register for a Cinema Paradiso account if you haven't already. Click <a routerLinkActive="active" class="trigger" href="javascript:;">here</a> to register. This is a required step.</li>
      <li>Send an email to <a href="mailto:CinemaParadiso308@gmail.com?Subject=Source Administration Application">CinemaParadiso308@gmail.com</a> with the subject Source Administration Application and the following information:</li>
      <ul>
        <li>Your Name</li>
        <li>Your Email Address</li>
        <li>Your Job Title</li>
        <li>Source Name (publications, web site, TV/radio station)</li>
        <li>Source URL</li>
        <li>Email address you registered with</li>
      </ul>
    </ul>
    <p>Questions? <a routerLink="/contact">Contact us here</a>.</p>
  </div>
</main>
</body>
