.celebrity_container{
  width: 80%;
  margin:auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}

.md-filmography{
  color: white;
  font-size: 12px;
  padding-left: 5%;
  padding-right: 5%;
  p{
    font-size: 20px;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    font-weight: bold;
  }
}

.md-warp{
  font-size: 1rem;
  float: left;
  text-align: center;
}

.md_list__item_cel{
  display: inline-block;
  line-height: 80% !important;
  float: left;
  width: 28%;
  height: 300px;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
  img{
    width:145px;
    height: 215px;
  }
}

.md_list__list_cel{
  min-width: 780px;
  display: inline-block;
  text-align: center;
}

.cel-title{
  font-size: 12px;
  padding-top: 4%;
  padding-bottom: 4%;
}

.celebrity_poster{
  width: 20%;
  float: left;
}
.celebrity_info{
  width: 75%;
  float: right;
  p{
    font-size: 12px;
  }
  span{font-size: 14px;}
}

.md_info_wrap{
  display: inline-block;
  width: 100%;
  padding-left: 2%;
  color: white;
}
.md-list__item{
  padding-bottom: 0;
}
