@mixin cols ($width, $padding-left, $padding-right){
  width: $width;
  float:left;
  position: relative;
  min-height: 1px;
  padding-right: $padding-right;
  padding-left: $padding-left;
}

main{
  background-color: lighten(black, 7%);
  height: 100%;
  padding-top: 3%;
  padding-bottom: 4%;
}
.col-overview {
  @include cols(31%, 1px, 1px);
}
.col-detail {
  @include cols(68.5%, 0, 0);
}
.col-video {
  @include cols(33%, 0, 1px);
}
// left container
.overview  {
  padding-left: 3%;
  img {
    height:300px;
    width: auto;
  }
}
// right container
.detail {
  padding-left: 3%;
  padding-right: 3%;
}

// individual tab
.overview-wrap {
  .o-bio {
    margin-top: 1em;
    font-size: 0.75em;
    color: darken(white, 40%);
  }
}

.bio-wrap {
  p {
    color: gray;
    font-size: 0.8em;
  }
}
.photos-wrap {
  .overview {

  }
  .detail {
    img {
      height:300px;
      width: auto;
    }
  }
}


.d-video__main {
  margin-bottom: 1em;
}

.d-video__more {
  float: right;
  font-size: 14px;
  margin: 1em 0 1em;
  color: gray;
}

// name
#people_name {
  color: white;
  margin-left: 3%;
  font-size: 1.1em;
}
// tab
.p_tab {
  margin-left: 3%;
  margin-bottom: 1em;
  li {
    display: inline-block;
    margin-right: 1em;
  }
  a {
    color: gray;
    text-decoration: none;
    font-size: 0.8em;
  }
  a:hover {
    color: white;
  }
}
