<html>
  <body>
    <main>
      <div class="celebrity_container">
        <!-- 	2nd section	photos -->
        <section class="md_info_wrap">
          <div class="celebrity_poster">
            <a href="">
              <img src="{{celebrity.poster}}" [alt]="celebrity.name">
            </a>
          </div>
          <div class="celebrity_info">
            <h4>{{celebrity.name}}</h4>
            <p>Highest Rated:
              <span>{{movies_in[0].title}} ({{movies_in[0].year}})</span>
            </p>
            <p>Lowest Rated:
              <span>{{movies_in[movies_in.length-1].title}} ({{movies_in[movies_in.length-1].year}})</span>
            </p>
            <p>Year of Birth:
              <span>{{celebrity.yearOfBirth}}</span>
            </p>
            <p>Birth place:
              <span>{{celebrity.locationOfBirth}}</span>
            </p>
            <br>
            <p>
              <span>{{celebrity.biography}}</span>
            </p>
          </div>
        </section>


        <!-- 	2nd section	photos -->
        <section class="md_wrap">
          <h2 class="md-title"><span>PHOTOS</span></h2>
          <ul class="container md-list__photos">
            <li class="row md-list__item" >
              <div class="col-photos item__detail"  *ngFor="let photos of celebrity.photos | slice:0:4" style="width: 200px;height: 200px;">
                <a href="{{photos}}">
                  <img src="{{photos}}" [alt]="celebrity.name">
                </a>
              </div>
            </li>
          </ul>
          <div>
            <a class="md-more" href="" routerLink="../photos/{{celebrity.celebrityId}}">View All ({{celebrity.photos.length}})</a>
          </div>
        </section>

        <section class="md_wrap">
          <h2 class="md-title"><span>HIGHEST RATED MOVIES</span></h2>
          <ul class="container md_list__list_cel">
            <li class="row md_list__item_cel"  *ngFor="let movie of movies_in | slice:0:4">
              <div >
                <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active">
                  <img [src]="movie.poster" [alt]="movie.title">
                </a>
              </div>
              <div class="cel-title">
                <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="">
                  {{movie.title}} ({{movie.year}})
                </a>
              </div>
              <div class="flex">
                <div *ngIf="movie.rating==null">
                  <p>No Ratings</p>
                </div>

                <div *ngIf="movie.rating>0&& movie.rating<1">
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <p>{{movie.rating}}/5.0</p>
                </div>

                <div *ngIf="movie.rating==1">
                  <i class="fa fa-star" ></i>
                  <p>{{movie.rating}}/5.0</p>
                </div>

                <div *ngIf="movie.rating>1&& movie.rating<2">
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <p>{{movie.rating}}/5.0</p>
                </div>

                <div *ngIf="movie.rating==2">
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star"></i>
                  <p>{{movie.rating}}/5.0</p>
                </div>

                <div *ngIf="movie.rating>2&& movie.rating<3">
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <p>{{movie.rating}}/5.0</p>
                </div>

                <div *ngIf="movie.rating==3">
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <p>{{movie.rating}}/5.0</p>
                </div>

                <div *ngIf="movie.rating>3&& movie.rating<4">
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <p>{{movie.rating}}/5.0</p>
                </div>

                <div *ngIf="movie.rating==4">
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <p>{{movie.rating}}/5.0</p>
                </div>

                <div *ngIf="movie.rating>4&& movie.rating<5">
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <p>{{movie.rating}}/5.0</p>
                </div>

                <div *ngIf="movie.rating==5">
                  <i class="fa fa-star" ></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <p>{{movie.rating}}/5.0</p>
                </div>
              </div>
            </li>
          </ul>
        </section>

        <section class="md_wrap">
          <h2 class="md-title"><span>FILMOGRAPHY</span></h2>
          <div class="md-filmography" *ngIf="movies_in.length>0">
            <P>MOVIE</P>
            <table>
              <tr>
                <th>RATING</th>
                <th>TITLE</th>
                <th>BOX OFFICE</th>
                <th>YEAR</th>
              </tr>
              <tr *ngFor="let movie of movies_in">
                <th>{{movie.rating}}/5</th>
                <th><a href="" routerLink="movie/{{movie.title}}">{{movie.title}}</a></th>
                <th *ngIf="movie.boxOffice!=null && movie.boxOffice>0; else no_box_office_table">{{numberInMillion(movie.boxOffice)}}</th>
                <ng-template #no_box_office_table>
                  <th>N/A</th>
                </ng-template>
                <th>{{movie.year}}</th>
              </tr>
            </table>
          </div>
          <div class="md-filmography" *ngIf="tv_in.length>0">
            <P>TV</P>
            <table>
              <tr>
                <th>RATING</th>
                <th>TITLE</th>
                <th>YEAR</th>
              </tr>
              <tr *ngFor="let movie of tv_in">
                <th>{{movie.rating}}/5</th>
                <th>{{movie.title}}</th>
                <th>{{movie.year}}</th>
              </tr>
            </table>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
