<html>
<header>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</header>
<body>
<main>
  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-black w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">

      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey"
         title="close menu">
        <i class="fa fa-remove"></i>
      </a>

      <img src="{{profile_url}}"
           style="width:45%;"
           id="profile_image"
           class="w3-round"
           (click)="open(content)">

      <br><br>

      <h4>

        <div *ngIf="profile.isCritic; else userProfile">
          <p class="w3-text-blue">Critic</p>
        </div>

        <ng-template #userProfile>
          <p class="w3-text-blue">User</p>
        </ng-template>

        <b>{{profile.name}}</b>
      </h4>
      <p class="w3-text-gray">A critic user, happy everyday</p>
    </div>
    <div class="w3-bar-block">
      <a class="show_Account w3-bar-item w3-button w3-padding w3-text-teal" (click)="showDiv(7)"><i
        class="fa fa-user fa-fw w3-margin-right"></i>Account</a>
      <a class="show_Account w3-bar-item w3-button w3-padding  w3-white" (click)="showDiv(8)"><i
        class="fa fa-eye fa-fw w3-margin-right"></i>Apply Official Critic</a>
    </div>

  </nav>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
       title="close side menu" id="myOverlay"></div>
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px">


    <div class="w3-container">
      <div class="w3-section w3-bottombar w3-padding-large">
        <button class="show_Summary w3-button w3-black" (click)="showDiv(1)">
          <i class="fa fa-home w3-margin-right"></i>Summary
        </button>
        <button class="show_Movie_Ratings w3-button w3-white w3-hide-small" aria-hidden="true" (click)="showDiv(2)">
          <i class="fa fa-film w3-margin-right"></i>Movie Ratings
        </button>

        <button class="show_Wish_List w3-button w3-white w3-hide-small" aria-hidden="true" (click)="showDiv(3)">
          <i class="fa fa-heart w3-margin-right"></i>Wishlist
        </button>
        <button class="show_Movie_List w3-button w3-white w3-hide-small" aria-hidden="true" (click)="showDiv(4)">
          <i class="fa fa-list-alt w3-margin-right"></i>Not Interest
        </button>
        <button class="show_My_Critics w3-button w3-white w3-hide-small" aria-hidden="true" (click)="showDiv(5)">
          <i class="fa fa-comment w3-margin-right"></i>My Reviews
        </button>
        <button class="show_My_Critics w3-button w3-white w3-hide-small" aria-hidden="true" (click)="showDiv(6)">
          <i class="fa fa-users w3-margin-right"></i>My Follow/ers
        </button>
      </div>
    </div>

    <br>

    <div class="container Summary_results" *ngIf="currentIndex === 1">
      <div class="w3-container w3-padding-large w3-black">
        <form target="_blank">
          <div class="w3-container w3-padding-large" style="margin-bottom:32px">
            <h4><b>About Me</b></h4>
            <p>{{profile.biography}}</p>
            <hr>
          </div>
        </form>
      </div>
      <section class="l-cards">
        <h2 class="l-cards__title">My Wishlist </h2>
        <a class="l-cards__more w3-margin-right" href="#">more <i class="fa fa-angle-double-right"></i></a>

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of whishlist">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>

      <section class="l-cards">
        <h2 class="l-cards__title">My Not Interest</h2>
        <a class="l-cards__more w3-margin-right" href="#">more <i class="fa fa-angle-double-right"></i></a>

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of watchlist">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>

      <section class="l-cards">
        <h2 class="l-cards__title">Rating History</h2>
        <a class="l-cards__more w3-margin-right" href="#">more <i class="fa fa-angle-double-right"></i></a>
        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of ratedMovieList">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="container Movie_Ratings_results" *ngIf="currentIndex === 2">
      <h2 class="l-cards__title w3-margin-left">Last Rated Movies</h2>
      <div class="row">
        <div class="col-4">
          <img
            src="https://images-na.ssl-images-amazon.com/images/M/MV5BNGNiNWQ5M2MtNGI0OC00MDA2LWI5NzEtMmZiYjVjMDEyOWYzXkEyXkFqcGdeQXVyMjM4NTM5NDY@._V1_UX182_CR0,0,182,268_AL_.jpg"
            alt="">

        </div>

        <!--<div class="show_more w3-margin-right">-->
        <!--</div>-->

        <div class="col-7 testimonial">
          <p class="film_name">The Shape of Water</p>

          <h2 class="l-cards__title">Your Rate: <span>4.2/5.0</span></h2>

          <div class="testimonial-content">
            <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="l_description">
              <p class="description">
                The Shape of Water is an ingenious fantasy romance that utilizes cold war era elements to the
                advantage of its premise while subtly challenging our preconceived notions of established
                archetypes. Del Toro has an innate understanding of portraying beauty of purity in all it's
                forms while simultaneously showing us the grotesque underbelly and brutality of what it is to be
                human. These skills help him build a boy meets girl
              </p>
            </div>
          </div>
        </div>
      </div>
      <section class="l-cards">
        <h2 class="l-cards__title">Rated Movies</h2>
        <a class="l-cards__more w3-margin-right" href="#">more <i class="fa fa-angle-double-right"></i></a>
        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of ratedMovieList">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="container Wish_List_results" *ngIf="currentIndex === 3">
      <section class="l-cards">
        <h2 class="l-cards__title">My Wishlist </h2>
        <a class="l-cards__more w3-margin-right" href="#">more <i class="fa fa-angle-double-right"></i></a>

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of whishlist">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="container Movie_List_results" *ngIf="currentIndex === 4">
      <section class="l-cards">
        <h2 class="l-cards__title">My Not Interest</h2>
        <a class="l-cards__more w3-margin-right" href="#">more <i class="fa fa-angle-double-right"></i></a>

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of watchlist">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="container My_Critics_results" *ngIf="currentIndex === 5">
      <div class="w3-container w3-padding-large w3-black">



        <div class="testimonial" *ngFor="let review of reviews">
          <hr class="w3-opacity">
          <a routerLink="/movie/{{review.imdbId}}" (click)="setImdbId(review.imdbId)" routerLinkActive="active">Review of {{review.movieTitle}}</a>

          <div class="testimonial-content">
            <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
            </div>

            <div class="l_description">
              <p class="description">
                <textarea rows="2" cols="80" placeholder="Add a review..." [(ngModel)]="review.reviewContent" required></textarea>
              </p>
            </div>
          </div>
          <span class="post">Critics</span>
          <div class="show_more w3-margin-right">
            <a class="w3-button w3-black " (click)="deleteReview(review.imdbId, review)">Delete
            </a>
            <a class="w3-button w3-black " (click)="editReview(review.imdbId, review)">Edit
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container Movie_List_results" *ngIf="currentIndex === 6">
      <section class="l-cards">
        <h2 class="l-cards__title">My Not Interest</h2>
        <a class="l-cards__more w3-margin-right" href="#">more <i class="fa fa-angle-double-right"></i></a>

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of watchlist">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
    </div>




    <div class="w3-container Account" *ngIf="currentIndex === 7">
      <div class="w3-container w3-padding-large w3-black">

        <form target="_blank">
          <label>User Name: {{profile.username}}</label>
          <br>
          <div *ngIf="profile.isCritic;else notCritic">
            <label>Level： Critic</label>
          </div>
          <ng-template #notCritic>
            <label>Level: User</label>
          </ng-template>

          <br>
          <label>Registered Date：{{profile.registeredDate}} </label>
          <br>
          <label>Email: {{profile.email}}</label>

          <hr class="w3-opacity">

          <div class="w3-section">

            <label></label>

            <label>About me</label>
            <textarea id="about_me_box" name="mini_bio" class="w3-input" cols="30" rows="10"
                      [(ngModel)]="profile.biography">
              Hello World
            </textarea>

            <label>Make Profile Private</label>
            <!input class="w3-input" type="checkbox" name="description" placeholder="A critic user, happy everyday">

          </div>

          <button class="w3-button w3-black w3-margin-bottom" (click)="updateProfile()"><i
            class="fa fa-paper-plane w3-margin-right"></i>Update
          </button>
        </form>

        <!--<hr class="w3-opacity">-->

        <form target="_blank" #changePasswordForm="ngForm" (submit)="changePassword(changePasswordForm)">
          <hr class="w3-opacity">

          <div class="w3-section">
            <label>Password</label>
            <input class="w3-input" type="password" name="oldPassword"
                   placeholder="**********" required [(ngModel)]="oldPassword">
          </div>

          <div class="w3-section">
            <label>New Password</label>
            <input class="w3-input" type="password" name="newPassword"
                   placeholder="**********" required [(ngModel)]="newPassword">
          </div>

          <button type="submit" class="w3-button w3-black w3-margin-bottom"><i
            class="fa fa-paper-plane w3-margin-right"></i>Reset Password
          </button>
        </form>
        <hr class="w3-opacity">
        <button  class="w3-button w3-red w3-margin-bottom" (click)= "deleteUser()"><i
          class="fa fa-trash w3-margin-right"></i>Delete Account
        </button>


      </div>
    </div>


    <div class="w3-container Apply Official Criti" *ngIf="currentIndex === 8">
      <div class="w3-container w3-padding-large w3-black">

        <form target="_blank">
          <label>User Name: {{profile.username}}</label>
          <br>
          <div *ngIf="profile.isCritic;else notCritic">
            <label>Level： Critic</label>
          </div>
          <ng-template #notCritic>
            <label>Level: User</label>
          </ng-template>

          <br>
          <label>Registered Date：{{profile.registeredDate}} </label>
          <br>
          <label>Email: {{profile.email}}</label>

          <hr class="w3-opacity">


        </form>

        <div class="col-7 testimonial">
          <div class="w3-container w3-khaki">
            <p class="film_name w3-text-blue-grey w3-large">CINEMAPARADISOR® CRITERIA</p>
          </div>

          <div class="testimonial-content">
            <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="l_description">
              <p class="description">
                Movie and television reviews in the CINEMAPARADISOR® come from publications (e.g., newspapers, magazines,
                websites, etc.) or individual critics that have been selected by the Cinima Paradiso® staff. The criteria
                for inclusion for both publications and critics are separated across three divisions: print, broadcast,
                and online, each with its own criteria for Cinima Paradisor inclusion, more fully described below. In many cases,
                for a variety of reasons, we may also include publications or critics that do not meet the below criteria,
                and may assign them to the below categories, if we feel that their inclusion will benefit the relevance and
                utility of the Cinima Paradisor.
              </p>
            </div>
          </div>
        </div>
        <hr class="w3-opacity">
        <div class="testimonial">
          <p class="film_name w3-text-sand w3-large">SOURCE APPROVAL</p>
          <div class="testimonial-content">
            <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="l_description">
              <p class="description">
                Print publications must achieve and maintain status as one of the following:

                - A top 100 daily US newspaper
                - A top 100 weekly US newspaper
                - A top 100 magazine
                - A top 10 entertainment-based publication
                Sources used to determine national publication ranks include the Audit Bureau of Circulations,
                The Magazine Publishers of America, and the Association of Alternative Weeklies. Applications for international
                publications will be made on a case-by-case basis, with input from local Rotten Tomatoes editors when applicable.
              </p>
            </div>
          </div>
        </div>


        <div class="testimonial">
          <div class="testimonial-content">
            <p class="film_name w3-text-sand w3-large">CRITICS APPROVAL</p>
            <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="l_description">
              <p class="film_name w3-text-brown w3-large">Print critics</p>
              <p class="description">
                must be currently employed as a film critic at a Tomatometer-approved publication for a minimum of two
                calendar years to be considered for individual approval.
              </p>
              <p class="film_name w3-text-brown w3-large">Broadcast critics </p>
              <p class="description">
                must be currently employed as a film critic at a Tomatometer-approved outlet for a minimum of two
                calendar years to be considered for individual approval.
              </p>
              <p class="film_name w3-text-brown w3-large">Online critics </p>
              <p class="description">
                must have published no less than 100 reviews across two calendar years at a single, Tomatometer-approved
                publication, and all reviews should have an average length of at least 300 words to be considered for
                individual approval.
              </p>
              <p class="film_name w3-text-brown w3-large">Video critics </p>
              <p class="description">
                For critics who are primarily publishing their reviews on video, inclusion on the Tomatometer is dependent on meeting the following criteria:

                Video critics must submit a resume outlining their qualifications to review films (include examples of web or print reviews, film-related jobs, etc).
                Video reviews must be embedded on a website or blog separate from a video hosting site like YouTube or Vimeo, and written transcripts of the reviews must be included with each video entry.
                Critics must be able to demonstrate a consistent level of professionalism and insight in both their reviews and in the production of their videos.
                Video critics must have at least 20,000 subscribers on a video hosting site.
                In all cases applicants should have two years' worth of published reviews available online, and all applicants must be able to demonstrate that their reviews have editorial oversight.

                In some cases, critics that are publishing reviews on a Tomatometer-approved outlet and have membership in select critics associations may be considered for individual approval. However, membership in a critics association does not guarantee approval.
              </p>
            </div>
          </div>
        </div>
      </div>

      <hr class="w3-opacity">
      <div class="testimonial">
        <div class="testimonial-content">
          <div class="testimonial-icon">
            <i class="fa fa-quote-left"></i>
          </div>
          <div class="l_description">
            <p class="film_name w3-text-brown w3-large">Broadcast outlets </p>
            <p class="description">
              must achieve and maintain status as a national TV or radio outlet
              (either via syndication or network broadcast) for Tomatometer consideration. Alternatively, a TV outlet
              must be broadcasting in one of the top ten DMAs, as listed by Nielsen Ratings. Radio outlets must be broadcasting
              in one of the top five DMAs, as listed by Arbitron. In almost all cases, an outlet's individual reviews
              must be available online, either as a segment transcript or an alternate, written review.
            </p>
            <p class="film_name w3-text-brown w3-large">Online publications </p>
            <p class="description">
              must achieve and maintain a minimum 500,000 unique monthly visitors according to
              comScore, Inc or Nielsen Net Ratings and reviews must have an average length of at least 300 words.
              Publications must also show a consistent standard of professionalism, writing quality, and editorial
              integrity across all reviews and articles. Lastly, site design and layout should also reflect a
              reasonable level of quality and must have a domain name specific to the property.
            </p>
            <p class="film_name w3-text-brown w3-large">For all outlets </p>
            <p class="description">
              reviews should be readable within a standard browser; reviews that require users to
              download additional software or browser plugins (ie PDFs) are strongly discouraged. Applications for
              international outlets will be made on a case-by-case basis, with input from local Rotten Tomatoes editors
              when applicable.
            </p>
          </div>
        </div>
      </div>

      <hr class="w3-opacity">
      <div class="testimonial">
        <p class="film_name w3-text-sand w3-large">CRITIC APPLICATION</p>
        <div class="testimonial-content">
          <div class="testimonial-icon">
            <i class="fa fa-quote-left"></i>
          </div>
          <div class="l_description">
            <p class="film_name w3-text-brown w3-large">Please follow the instructions below to apply to become an
              approved Cinima Paradisor Critic.</p>

            <p class="description">
              1. Register for a Cinima Paradiso account if you haven't already. This is a required step.
            </p>
            <p class="description"> </p>

            <p class="description">
              2. Send an email to nanjiang1995@gmail.com with the subject Film Critic Submission
              Application and the following information:
            </p>
            <p class="description">
              a. Your Name
            </p>
            <p class="description">
              b. Your Email Address
            </p>
            <p class="description">
              c. Source Name (publications, web site, TV/radio station
            </p>
            <p class="description">
              d. Source URL
            </p>
            <p class="description">
              e. URL to an index of your film reviews
            </p>
            <p class="description">
              f. URLs to at least three film reviews you've authored
            </p>
            <p class="description">
              g. Critics Society or Association
            </p>
            <p class="description">
              h. Email address you registered with
            </p>
          </div>
        </div>
      </div>
    </div>




    <hr class="w3-opacity">

    <!-- 	Recommend section	 -->
    <section class="l-cards">
      <h2 class="l-cards__title">Recommended For Me</h2>
      <a class="l-cards__more w3-margin-right" href="#">more <i class="fa fa-angle-double-right"></i></a>
      <ul class="l-cards__list">
        <li class="l-cards__item">
          <a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a>
        </li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
      </ul>
    </section>
    <!-- 	end Recommend section	 -->

  </div>
</main>
</body>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Change Profile Image</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      This is the uploading images section
    </p>

    <input type="file" (change)="upload($event)" required class="form-control " name="attach_file" id="attach_file">

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

</html>




