<html>
<header>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</header>
<body>
<main>
  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-black w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">

      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey"
         title="close menu">
        <i class="fa fa-remove"></i>
      </a>

      <img src="{{profile_url}}"
           style="width:45%;"
           id="profile_image"
           class="w3-round"
           (click)="open(content)">

      <br><br>

      <h4>

        <div *ngIf="profile.isCritic; else userProfile">
          <p class="w3-text-blue">Critic</p>
        </div>

        <ng-template #userProfile>
          <p class="w3-text-blue">User</p>
        </ng-template>

        <b>{{profile.name}}</b>
      </h4>
      <p class="w3-text-gray">A critic user, happy everyday</p>
    </div>
    <div class="w3-bar-block">
      <a class="show_Account w3-bar-item w3-button w3-padding w3-text-teal" (click)="showDiv(7)"><i
        class="fa fa-user fa-fw w3-margin-right"></i>Account</a>
    </div>

  </nav>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
       title="close side menu" id="myOverlay"></div>
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px">


    <div class="w3-container">
      <div class="w3-section w3-bottombar w3-padding-large">
        <button class="show_Summary w3-button w3-black" (click)="showDiv(1)">
          <i class="fa fa-home w3-margin-right"></i>Summary
        </button>
        <button class="show_Movie_Ratings w3-button w3-white w3-hide-small" aria-hidden="true" (click)="showDiv(2)">
          <i class="fa fa-film w3-margin-right"></i>Movie Ratings
        </button>

        <button class="show_Wish_List w3-button w3-white w3-hide-small" aria-hidden="true" (click)="showDiv(3)">
          <i class="fa fa-heart w3-margin-right"></i>Wishlist
        </button>
        <button class="show_Movie_List w3-button w3-white w3-hide-small" aria-hidden="true" (click)="showDiv(4)">
          <i class="fa fa-list-alt w3-margin-right"></i>Watchlist
        </button>
        <button class="show_My_Critics w3-button w3-white w3-hide-small" aria-hidden="true" (click)="showDiv(5)">
          <i class="fa fa-comment w3-margin-right"></i>My Critics
        </button>
      </div>
    </div>

    <br>

    <div class="container Summary_results" *ngIf="currentIndex === 1">
      <div class="w3-container w3-padding-large w3-black">
        <form target="_blank">
          <div class="w3-container w3-padding-large" style="margin-bottom:32px">
            <h4><b>About Me</b></h4>
            <p>{{profile.biography}}</p>
            <hr>
          </div>
        </form>
      </div>
      <section class="l-cards">
        <h2 class="l-cards__title">My Wishlist </h2>
        <a class="l-cards__more w3-margin-right" href="#">more <i class="fa fa-angle-double-right"></i></a>

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of whishlist">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>

      <section class="l-cards">
        <h2 class="l-cards__title">My Watchlist</h2>
        <a class="l-cards__more w3-margin-right" href="#">more <i class="fa fa-angle-double-right"></i></a>

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of watchlist">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>

      <section class="l-cards">
        <h2 class="l-cards__title">Rating History</h2>
        <a class="l-cards__more w3-margin-right" href="#">more <i class="fa fa-angle-double-right"></i></a>
        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of ratedMovieList">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="container Movie_Ratings_results" *ngIf="currentIndex === 2">
      <h2 class="l-cards__title w3-margin-left">Last Rated Movies</h2>
      <div class="row">
        <div class="col-4">
          <img
            src="https://images-na.ssl-images-amazon.com/images/M/MV5BNGNiNWQ5M2MtNGI0OC00MDA2LWI5NzEtMmZiYjVjMDEyOWYzXkEyXkFqcGdeQXVyMjM4NTM5NDY@._V1_UX182_CR0,0,182,268_AL_.jpg"
            alt="">

        </div>

        <!--<div class="show_more w3-margin-right">-->
        <!--</div>-->

        <div class="col-7 testimonial">
          <p class="film_name">The Shape of Water</p>

          <h2 class="l-cards__title">Your Rate: <span>4.2/5.0</span></h2>

          <div class="testimonial-content">
            <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="l_description">
              <p class="description">
                The Shape of Water is an ingenious fantasy romance that utilizes cold war era elements to the
                advantage of its premise while subtly challenging our preconceived notions of established
                archetypes. Del Toro has an innate understanding of portraying beauty of purity in all it's
                forms while simultaneously showing us the grotesque underbelly and brutality of what it is to be
                human. These skills help him build a boy meets girl
              </p>
            </div>
          </div>
        </div>
      </div>
      <section class="l-cards">
        <h2 class="l-cards__title">Rated Movies</h2>
        <a class="l-cards__more w3-margin-right" href="#">more <i class="fa fa-angle-double-right"></i></a>
        <ul class="l-cards__list">
          <li class="l-cards__item">
            <a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a>
          </li>
          <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a></li>
          <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a></li>

          <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a></li>

          <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
            <a href="#" class="l-cards__text"></a></li>

        </ul>
      </section>
    </div>
    <div class="container Wish_List_results" *ngIf="currentIndex === 3">
      <section class="l-cards">
        <h2 class="l-cards__title">My Wishlist </h2>
        <a class="l-cards__more w3-margin-right" href="#">more <i class="fa fa-angle-double-right"></i></a>

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of whishlist">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="container Movie_List_results" *ngIf="currentIndex === 4">
      <section class="l-cards">
        <h2 class="l-cards__title">My Watchlist</h2>
        <a class="l-cards__more w3-margin-right" href="#">more <i class="fa fa-angle-double-right"></i></a>

        <ul class="l-cards__list">
          <li class="l-cards__item"*ngFor="let movie of watchlist">
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active" class="l-cards__image fill">
              <img [src]="movie.poster" [alt]="movie.title">
            </a>
            <a routerLink="/movie/{{movie.imdbId}}" (click)="setImdbId(movie.imdbId)" routerLinkActive="active"  class="l-cards__text">
              {{movie.title}}
              <p>{{movie.rating}}/5.0</p>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="container My_Critics_results" *ngIf="currentIndex === 5">
      <div class="w3-container w3-padding-large w3-black">

        <div class="testimonial">
          <div class="testimonial-content">
            <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="l_description">
              <p class="description">
                The Shape of Water is an ingenious fantasy romance that utilizes cold war era elements to
                the advantage of its premise while subtly challenging our preconceived notions of
                established archetypes. Del Toro has an innate understanding of portraying beauty of purity
                in all it's forms while simultaneously showing us the grotesque underbelly and brutality of
                what it is to be human. These skills help him build a boy meets girl (or girl meets creature
                xP) fairytale with a believable yet dynamic supporting cast. The story is equal parts
                gripping as it is touching, overcoming it's formulaic approach by using unlikely
                characterization and story elements that come seamlessly together. Adding the films success
                to his repertoire definitely showcases Del Toro's ability to adapt and excel in multiple
                genres.
              </p>
            </div>
          </div>
          <h3 class="title">{{profile.username}}</h3>
          <span class="post">Critics</span>
        </div>
        <div class="testimonial">
          <div class="testimonial-content">
            <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="l_description">
              <p class="description">
                The Shape of Water is an ingenious fantasy romance that utilizes cold war era elements to
                the advantage of its premise while subtly challenging our preconceived notions of
                established archetypes. Del Toro has an innate understanding of portraying beauty of purity
                in all it's forms while simultaneously showing us the grotesque underbelly and brutality of
                what it is to be human. These skills help him build a boy meets girl (or girl meets creature
                xP) fairytale with a believable yet dynamic supporting cast. The story is equal parts
                gripping as it is touching, overcoming it's formulaic approach by using unlikely
                characterization and story elements that come seamlessly together. Adding the films success
                to his repertoire definitely showcases Del Toro's ability to adapt and excel in multiple
                genres.
              </p>
            </div>
          </div>
          <h3 class="title">{{profile.username}}</h3>
          <span class="post">Critics</span>
        </div>
        <div class="testimonial">
          <div class="testimonial-content">
            <div class="testimonial-icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="l_description">
              <p class="description">
                The Shape of Water is an ingenious fantasy romance that utilizes cold war era elements to
                the advantage of its premise while subtly challenging our preconceived notions of
                established archetypes. Del Toro has an innate understanding of portraying beauty of purity
                in all it's forms while simultaneously showing us the grotesque underbelly and brutality of
                what it is to be human. These skills help him build a boy meets girl (or girl meets creature
                xP) fairytale with a believable yet dynamic supporting cast. The story is equal parts
                gripping as it is touching, overcoming it's formulaic approach by using unlikely
                characterization and story elements that come seamlessly together. Adding the films success
                to his repertoire definitely showcases Del Toro's ability to adapt and excel in multiple
                genres.
              </p>
            </div>
          </div>
          <h3 class="title">{{profile.username}}</h3>
          <span class="post">Critics</span>
        </div>
        <div class="show_more w3-margin-right">
          <a class="l-cards__more load_more_movies" href="javascript:void(0)">more
            <i class="fa fa-angle-double-right"></i>
          </a>
        </div>
      </div>


    </div>

    <div class="w3-container Account" *ngIf="currentIndex === 7">
      <div class="w3-container w3-padding-large w3-black">

        <form target="_blank">
          <label>User Name: {{profile.username}}</label>
          <br>
          <div *ngIf="profile.isCritic;else notCritic">
            <label>Level： Critic</label>
          </div>
          <ng-template #notCritic>
            <label>Level: User</label>
          </ng-template>

          <br>
          <label>Registered Date：2017-03-08 </label>
          <br>
          <label>Email: {{profile.email}}</label>

          <hr class="w3-opacity">

          <div class="w3-section">

            <label></label>

            <label>About me</label>
            <textarea id="about_me_box" name="mini_bio" class="w3-input" cols="30" rows="10"
                      [(ngModel)]="profile.biography">
              Hello World
            </textarea>

            <label>Make Profile Private</label>
            <input class="w3-input" type="checkbox" name="description" placeholder="A critic user, happy everyday">

          </div>

          <button class="w3-button w3-black w3-margin-bottom" (click)="updateProfile()"><i
            class="fa fa-paper-plane w3-margin-right"></i>Update
          </button>
        </form>

        <!--<hr class="w3-opacity">-->

        <form target="_blank" #changePasswordForm="ngForm" (submit)="changePassword(changePasswordForm)">
          <hr class="w3-opacity">

          <div class="w3-section">
            <label>Password</label>
            <input class="w3-input" type="password" name="oldPassword"
                   placeholder="**********" required [(ngModel)]="oldPassword">
          </div>

          <div class="w3-section">
            <label>New Password</label>
            <input class="w3-input" type="password" name="newPassword"
                   placeholder="**********" required [(ngModel)]="newPassword">
          </div>

          <button type="submit" class="w3-button w3-black w3-margin-bottom"><i
            class="fa fa-paper-plane w3-margin-right"></i>Reset Password
          </button>
        </form>


      </div>
    </div>

    <hr class="w3-opacity">

    <!-- 	Recommend section	 -->
    <section class="l-cards">
      <h2 class="l-cards__title">Recommended For Me</h2>
      <a class="l-cards__more w3-margin-right" href="#">more <i class="fa fa-angle-double-right"></i></a>
      <ul class="l-cards__list">
        <li class="l-cards__item">
          <a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a>
        </li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
      </ul>
    </section>
    <!-- 	end Recommend section	 -->

  </div>
</main>
</body>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Change Profile Image</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      This is the uploading images section
    </p>

    <input type="file" (change)="upload($event)" required class="form-control " name="attach_file" id="attach_file">

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

</html>




