<div class="modal-wrapper">
  <div class="modal">
    <div class="head">
      <a class="btn-close trigger" href="javascript:;"></a>
    </div>
    <div class="content">
      <section class="user" id="signon-form">
        <div class="user_options-container">
          <div class="user_options-text">
            <div class="user_options-unregistered">
              <h2 class="user_unregistered-title">Don't have an account?</h2>
              <p class="user_unregistered-text">Welcome to Cinema Paradiso</p>
              <button class="user_unregistered-signup" id="signup-button">Sign up</button>
            </div>

            <div class="user_options-registered">
              <h2 class="user_registered-title">Have an account?</h2>
              <p class="user_registered-text">Welcome back to Cinema Paradiso</p>
              <button class="user_registered-login" id="login-button">Login</button>
            </div>
          </div>

          <div class="user_options-forms" id="user_options-forms">
            <div class="user_forms-login">
              <h2 class="forms_title">Login</h2>
              <form class="forms_form">
                <fieldset class="forms_fieldset">
                  <div class="forms_field">
                    <input type="email" placeholder="Email" class="forms_field-input"
                           [(ngModel)]="email" name="login_username" required/>
                  </div>
                  <div class="forms_field">
                    <input type="password" placeholder="Password" class="forms_field-input"
                           [(ngModel)]="password" name="login_password" required/>
                  </div>
                </fieldset>
                <div class="forms_buttons">
                  <button type="button" class="forms_buttons-forgot" (click)="forgotPassword()">Forgot password?</button>
                  <input type="submit" value="Log In" class="forms_buttons-action" (click)="login()">
                </div>
              </form>
            </div>
            <div class="user_forms-signup">
              <h2 class="forms_title">Sign Up</h2>
              <form class="forms_form">
                <fieldset class="forms_fieldset">
                  <div class="forms_field">
                    <input type="text" placeholder="Username" class="forms_field-input"
                           [(ngModel)]="user.username" name="username" required
                           (focusout)="checkUserName(user.username)"/>
                  </div>
                  <div class="forms_field">
                    <input type="email" placeholder="Email" class="forms_field-input"
                           [(ngModel)]="user.email" name="email" required (focusout)="checkEmailTaken(user.email)"/>
                  </div>
                  <div class="forms_field">
                    <input type="password" placeholder="Password" class="forms_field-input first_password"
                           [(ngModel)]="user.password" name="password" required/>
                  </div>
                  <div class="forms_field">
                    <input type="password" placeholder="Re-enter password" class="forms_field-input second_password"
                           required (focusout)="checkSamePassword(user.password, $event)"/>
                  </div>
                </fieldset>
                <div class="forms_buttons">
                  <input type="submit" value="Sign up" class="forms_buttons-action" (click)="signup()">
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>


    </div>
  </div>
</div>

